auto-publicación-orgánica-(system-ia)-sin-tag.json
{
  "updatedAt": "2026-02-27T20:03:39.000Z",
  "createdAt": "2026-02-26T23:22:25.107Z",
  "id": "lxXXVBE0vaDqPGOu",
  "name": "Auto-Publicación Orgánica (System IA)",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "id": "sticky-1",
      "name": "Documentación",
      "parameters": {
        "color": 6,
        "content": "## Flujo de Auto-Publicación Orgánica System IA",
        "height": 300,
        "width": 400
      },
      "position": [
        0,
        0
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "id": "trigger-1",
      "name": "Schedule Trigger",
      "parameters": {
        "rule": {
          "type": "cron"
        }
      },
      "position": [
        0,
        200
      ],
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1
    },
    {
      "id": "sheets-1",
      "name": "Leer Historial",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        200,
        200
      ],
      "parameters": {
        "operation": "getAll"
      }
    },
    {
      "id": "code-1",
      "name": "Seleccionar Tema",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        200
      ],
      "parameters": {
        "jsCode": "var dias = new Date().getDate();\\nvar temas = ['CRM y Gestión de Leads', 'Automatización WhatsApp', 'Agendamiento de Citas', 'Automatización de Redes Sociales'];\\nvar tema_hoy = temas[dias % 4];\\n\\nreturn [{ json: { tema_hoy: tema_hoy } }];"
      }
    },
    {
      "id": "gemini-1",
      "name": "Generar Post",
      "type": "@n8n/n8n-nodes-langchain.googleGemini",
      "typeVersion": 1,
      "position": [
        600,
        200
      ],
      "parameters": {
        "model": "gemini-2.5-flash",
        "options": {
          "temperature": 0.7
        },
        "prompt": "Hoy hablaremos de: {{ $json.tema_hoy }}\\n\\nInstrucciones:\\n1. Escribe un post para LinkedIn e Instagram sobre este tema para la agencia \"System IA\".\\n2. Tono: Profesional, empático, sin spam, educativo.\\n3. NO repitas estos ángulos que ya publicamos recientemente: {{ JSON.stringify($node[\"Leer Historial\"]) }}\\n\\nDevuelve solo el Texto del post y un Titulo llamativo."
      }
    },
    {
      "id": "http-1",
      "name": "Pedir Aprobación",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        800,
        200
      ],
      "parameters": {
        "bodyParameters": {
          "parameters": [
            {
              "name": "number",
              "value": "TU_NUMERO_WHATSAPP"
            },
            {
              "name": "text",
              "value": "=🤖 ¡Hola! El post de hoy está listo.\\n\\n📚 *Tema:* {{ $node[\\\"Seleccionar Tema\\\"].json.tema_hoy }}\\n\\n✍️ *Borrador:* \\n{{ $json.text }}\\n\\n¿Lo publicamos en nuestras redes?"
            }
          ]
        },
        "method": "POST",
        "sendBody": true,
        "url": "https://TU_URL_EVOLUTION_API/message/sendText/TU_INSTANCIA"
      }
    },
    {
      "id": "wait-1",
      "name": "Esperar Aprobación",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        1000,
        200
      ],
      "parameters": {
        "resume": "webhook",
        "webhookPath": "aprobar_post"
      }
    },
    {
      "id": "if-1",
      "name": "¿Aprobado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 3.2,
      "position": [
        1200,
        200
      ],
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": false,
            "typeValidation": "strict",
            "ignoreCase": true
          },
          "string": [
            {
              "operation": "contains",
              "value1": "={{ $json.body.data.message.text }}",
              "value2": "aprobar"
            }
          ]
        },
        "routingRules": {
          "rules": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": false,
                  "ignoreCase": true
                },
                "string": [
                  {
                    "operation": "contains",
                    "value1": "={{ $json.body.data.message.text }}",
                    "value2": "aprobar"
                  }
                ]
              },
              "output": 0
            }
          ]
        }
      }
    },
    {
      "id": "instagram-1",
      "name": "Publicar Instagram",
      "type": "@mookielianhd/n8n-nodes-instagram.instagram",
      "typeVersion": 1,
      "position": [
        1400,
        100
      ],
      "parameters": {
        "caption": "={{ $node[\\\"Generar Post\\\"].json.text }}",
        "mediaUrl": "URL_IMAGEN_DE_PRUEBA_O_GEMINI",
        "operation": "post",
        "resource": "photo"
      }
    },
    {
      "id": "linkedin-1",
      "name": "Publicar LinkedIn",
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        1600,
        100
      ],
      "parameters": {
        "operation": "create",
        "person": "TU_URN_DE_LINKEDIN",
        "resource": "post",
        "text": "={{ $node[\\\"Generar Post\\\"].json.text }}"
      }
    },
    {
      "id": "sheets-2",
      "name": "Guardar Historial",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [
        1800,
        100
      ],
      "parameters": {
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "'Angulo / Mini-Tema creado por la IA'": "={{ $node[\\\"Generar Post\\\"].json.text.split('\\\\n')[0] }}",
            "'Fecha de Publicación'": "={{ $now }}",
            "'Macro-Tema'": "={{ $node[\\\"Seleccionar Tema\\\"].json.tema_hoy }}",
            "'Texto (Copy)'": "={{ $node[\\\"Generar Post\\\"].json.text }}",
            "Estado": "Publicado ✅",
            "ID": "={{ $execution.id }}"
          }
        },
        "operation": "append",
        "options": {}
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Leer Historial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Historial": {
      "main": [
        [
          {
            "node": "Seleccionar Tema",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Seleccionar Tema": {
      "main": [
        [
          {
            "node": "Generar Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generar Post": {
      "main": [
        [
          {
            "node": "Pedir Aprobación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pedir Aprobación": {
      "main": [
        [
          {
            "node": "Esperar Aprobación",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Esperar Aprobación": {
      "main": [
        [
          {
            "node": "¿Aprobado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Aprobado?": {
      "main": [
        [
          {
            "node": "Publicar Instagram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar Instagram": {
      "main": [
        [
          {
            "node": "Publicar LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Publicar LinkedIn": {
      "main": [
        [
          {
            "node": "Guardar Historial",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "8a71b854-c869-41de-9bfa-63561475d166",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-26T23:22:25.109Z",
      "createdAt": "2026-02-26T23:22:25.109Z",
      "role": "workflow:owner",
      "workflowId": "lxXXVBE0vaDqPGOu",
      "projectId": "zU8ZqM5Dx6MPXDiw"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "id": "sin-tag",
      "name": "sin-tag"
    }
  ]
}