formulario-kickoff-de-leads→-notion-+-sheets-(system-ia)-sin-tag.json
{
  "updatedAt": "2026-02-27T10:47:32.211Z",
  "createdAt": "2026-02-26T23:22:33.446Z",
  "id": "vMkd09sGiO7jWEnP",
  "name": "FORMULARIO-KICKOFF DE LEADS→ Notion + Sheets (System IA)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "content": "## 🚀 Flujo Kickoff Interno — System IA\n\n**Trigger:** Formulario HTML interno (`/webhook/kickoff-interno`)\n\n---\n\n### 📥 1. Recepción\n- Webhook GET recibe los datos del formulario\n- Nodo **Parsear Datos** normaliza y valida el email\n\n### 🔍 2. Búsqueda en Notion\n- Busca el lead en **Pipeline Comercial** por email\n- Si no existe → responde 404 y termina\n\n### ✏️ 3. Actualizar Notion Pipeline\n- **Construir Body Notion** arma el JSON con solo los campos completados\n- **PATCH** `/v1/pages/{pageId}` actualiza la página existente\n- Campos: Plan, Precio Setup, Fee Mensual, Método de Pago, Estado de Pago, Prioridad, Servicios Contratados, Fechas, Próximo Pago, Próxima Acción, Responsable\n\n### 📊 4. Actualizar Google Sheets\n- **Preparar para Sheets** mapea campos con nombres exactos de columnas\n- Operación **Upsert** por columna **Email**\n- Si la fila existe → actualiza\n- Si no existe → crea fila nueva\n- LTV Estimado calculado por fórmula ARRAYFORMULA en Sheets\n\n### ✅ 5. Respuesta\n- Devuelve `{ success: true }` al formulario\n- El formulario muestra mensaje verde de confirmación\n\n---\n\n**⚠️ Importante:**\n- El email debe coincidir exactamente con Notion\n- Servicios Contratados → multi_select (separados por coma)\n- Este flujo NO crea registros nuevos en Notion, solo actualiza\n- Próximo Pago = fecha del próximo cobro del fee mensual",
        "height": 1220,
        "width": 3192,
        "color": 5
      },
      "id": "6f6d5076-9297-49bc-b99c-2e8df0f0031a",
      "name": "📘 Documentación Kickoff",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        560,
        -832
      ]
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kickoff-interno",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "8b9d9862-324a-4e9e-b4f7-a62d3d15ed2d",
      "name": "Webhook Kickoff",
      "position": [
        1280,
        1024
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "726ab328-cd3c-4bd3-b740-ebe7ebbd5696"
    },
    {
      "parameters": {
        "jsCode": "const d = $input.first().json.body;\n\nconst email = (d.email_cliente || '').trim().toLowerCase();\nif (!email) throw new Error('email_cliente es requerido');\n\nreturn [{ json: {\n  email_cliente: email,\n  id_lead: d.id_lead || '',\n  precio_setup: parseFloat(d.precio_setup) || 0,\n  fee_mensual: parseFloat(d.fee_mensual) || 0,\n  estado_pago: d.estado_pago || 'Pendiente',\n  prioridad: d.prioridad || 'Media',\n  servicios: d.servicios || '',\n  plan: d.plan || '',\n  metodo_pago: d.metodo_pago || '',\n  proximo_pago: d.proximo_pago || '',\n  fecha_inicio: d.fecha_inicio || '',\n  fecha_renovacion: d.fecha_renovacion || '',\n  ultimo_contacto: d.ultimo_contacto || '',\n  proxima_accion: d.proxima_accion || '',\n  responsable: d.responsable || 'Arnaldo',\n  timestamp: new Date().toISOString()\n} }];"
      },
      "id": "41c34398-718c-4794-8695-78c4322f9834",
      "name": "Parsear Datos",
      "position": [
        1472,
        1024
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.notion.com/v1/databases/309668bb-053e-80d8-a3eb-ea165a96ff1a/query",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"property\": \"Email\",\n    \"email\": {\n      \"equals\": \"{{ $json.email_cliente }}\"\n    }\n  },\n  \"page_size\": 1\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1696,
        1024
      ],
      "id": "406ef68e-c3d5-4f13-b8f8-420a42e10e40",
      "name": "Buscar Lead en Notion",
      "credentials": {
        "httpBearerAuth": {
          "id": "59bn4xLE65rm7L02",
          "name": "Bearer Auth Notion"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "leftValue": "={{ $json.results.length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "gt"
              },
              "id": "fd307654-9736-4ae6-8755-d3f374069ebc"
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "ec930cf5-3024-419f-b880-2a880043ba71",
      "name": "IF Lead Encontrado",
      "position": [
        1920,
        1024
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Parsear Datos').first().json;\nconst notionResponse = $('Buscar Lead en Notion').first().json;\nconst page = notionResponse.results[0];\nconst pageId = page.id;\nconst props = page.properties;\n\n// Funciones para extraer datos de Notion\nconst getTitle = (p) => {\n  try { return props[p].title[0].text.content; } catch(e) { return ''; }\n};\nconst getRichText = (p) => {\n  try { return props[p].rich_text[0].text.content; } catch(e) { return ''; }\n};\nconst getSelect = (p) => {\n  try { return props[p].select.name; } catch(e) { return ''; }\n};\nconst getEmail = (p) => {\n  try { return props[p].email; } catch(e) { return ''; }\n};\nconst getPhone = (p) => {\n  try { return props[p].phone_number; } catch(e) { return ''; }\n};\n\n// Datos que ya existen en Notion\nconst nombre = getTitle('Nombre');\nconst negocio = getRichText('Negocio');\nconst industria = getSelect('Industria');\nconst whatsapp = getPhone('WhatsApp');\nconst email = getEmail('Email');\nconst idCliente = getRichText('ID Cliente');\n\n// Body para actualizar Notion\nconst body = { properties: {} };\n\nif (parsed.precio_setup) body.properties['Precio Setup'] = { number: parsed.precio_setup };\nif (parsed.fee_mensual) body.properties['Precio Mensual'] = { number: parsed.fee_mensual };\nif (parsed.estado_pago) body.properties['Estado de Pago'] = { select: { name: parsed.estado_pago } };\nif (parsed.prioridad) body.properties['Prioridad'] = { select: { name: parsed.prioridad } };\nif (parsed.plan) body.properties['Plan'] = { select: { name: parsed.plan } };\nif (parsed.metodo_pago) body.properties['Método de Pago'] = { select: { name: parsed.metodo_pago } };\nif (parsed.servicios) {\n  const arr = parsed.servicios.split(',').map(s => s.trim()).filter(s => s.length > 0).map(s => ({ name: s }));\n  body.properties['Servicios Contratados'] = { multi_select: arr };\n}\nif (parsed.proximo_pago) body.properties['Próximo Pago'] = { date: { start: parsed.proximo_pago } };\nif (parsed.fecha_inicio) body.properties['Fecha Inicio Servicio'] = { date: { start: parsed.fecha_inicio } };\nif (parsed.fecha_renovacion) body.properties['Fecha Renovación'] = { date: { start: parsed.fecha_renovacion } };\nif (parsed.ultimo_contacto) body.properties['Último Contacto'] = { date: { start: parsed.ultimo_contacto } };\nif (parsed.proxima_accion) body.properties['Próxima Acción'] = { rich_text: [{ text: { content: parsed.proxima_accion } }] };\nif (parsed.responsable) body.properties['Responsable'] = { select: { name: parsed.responsable } };\n\nreturn [{ json: {\n  pageId,\n  body,\n  email_cliente: email || parsed.email_cliente,\n  id_lead: idCliente || parsed.id_lead,\n  nombre,\n  negocio,\n  industria,\n  whatsapp,\n  precio_setup: parsed.precio_setup,\n  fee_mensual: parsed.fee_mensual,\n  estado_pago: parsed.estado_pago,\n  plan: parsed.plan,\n  metodo_pago: parsed.metodo_pago,\n  prioridad: parsed.prioridad,\n  servicios: parsed.servicios,\n  proximo_pago: parsed.proximo_pago,\n  fecha_inicio: parsed.fecha_inicio,\n  fecha_renovacion: parsed.fecha_renovacion,\n  ultimo_contacto: parsed.ultimo_contacto,\n  proxima_accion: parsed.proxima_accion,\n  responsable: parsed.responsable,\n  timestamp: parsed.timestamp\n} }];"
      },
      "id": "938838e1-722e-414e-9486-45ed4aa71eeb",
      "name": "Construir Body Notion",
      "position": [
        2144,
        912
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://api.notion.com/v1/pages/{{ $json.pageId }}",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBearerAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Notion-Version",
              "value": "2022-06-28"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.body) }}",
        "options": {}
      },
      "id": "35553c0a-9e93-4af0-b09e-a358b6480575",
      "name": "Actualizar Notion Pipeline",
      "position": [
        2368,
        912
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "credentials": {
        "httpBearerAuth": {
          "id": "59bn4xLE65rm7L02",
          "name": "Bearer Auth Notion"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const parsed = $('Construir Body Notion').first().json;\n\nreturn [{ json: {\n  'ID Cliente': parsed.id_lead || '',\n  'Fecha Alta': parsed.timestamp,\n  'Nombre': parsed.nombre,\n  'Negocio': parsed.negocio,\n  'Industria': parsed.industria,\n  'Email': parsed.email_cliente,\n  'WhatsApp': parsed.whatsapp,\n  'Plan': parsed.plan,\n  'Precio Setup': parsed.precio_setup,\n  'Precio Mensual': parsed.fee_mensual,\n  'LTV Estimado': '',\n  'Método de Pago': parsed.metodo_pago,\n  'Estado de Pago': parsed.estado_pago,\n  'Servicios Contratados': parsed.servicios,\n  'Fecha Inicio Servicio': parsed.fecha_inicio,\n  'Fecha Renovación': parsed.fecha_renovacion,\n  'Próximo Pago': parsed.proximo_pago,\n  'Próxima Acción': parsed.proxima_accion,\n  'Responsable': parsed.responsable,\n  'Prioridad': parsed.prioridad,\n  'Último Contacto': parsed.ultimo_contacto\n} }];"
      },
      "id": "84bafc41-c83f-4314-959c-bcd94ee50ebe",
      "name": "Preparar para Sheets",
      "position": [
        2592,
        912
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "14HJkGerBAY5KCR6YBarae59aiCPhKzvt374strsGk3M",
          "mode": "list",
          "cachedResultName": "DB Leads Calificados - System IA",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14HJkGerBAY5KCR6YBarae59aiCPhKzvt374strsGk3M/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Hoja 1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14HJkGerBAY5KCR6YBarae59aiCPhKzvt374strsGk3M/edit#gid=0"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "Email"
          ],
          "schema": [
            {
              "id": "ID Cliente",
              "displayName": "ID Cliente",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha Alta",
              "displayName": "Fecha Alta",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Negocio",
              "displayName": "Negocio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industria",
              "displayName": "Industria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Email",
              "displayName": "Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "WhatsApp",
              "displayName": "WhatsApp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Plan",
              "displayName": "Plan",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Precio Setup",
              "displayName": "Precio Setup",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Precio Mensual",
              "displayName": "Precio Mensual",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "LTV Estimado",
              "displayName": "LTV Estimado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Método de Pago",
              "displayName": "Método de Pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Estado de Pago",
              "displayName": "Estado de Pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Servicios Contratados",
              "displayName": "Servicios Contratados",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha Inicio Servicio",
              "displayName": "Fecha Inicio Servicio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Fecha Renovación",
              "displayName": "Fecha Renovación",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Próximo Pago",
              "displayName": "Próximo Pago",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Próxima Acción",
              "displayName": "Próxima Acción",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Responsable",
              "displayName": "Responsable",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Prioridad",
              "displayName": "Prioridad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Último Contacto",
              "displayName": "Último Contacto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "3c1dea3c-a607-4923-ae00-3a3f57cc2cab",
      "name": "Registrar en Google Sheets",
      "position": [
        2816,
        912
      ],
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9AngrdYrRh5RyUES",
          "name": "Formulario_Leads_System"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: true, message: 'Proyecto actualizado en Notion y Sheets', email: $('Parsear Datos').first().json.email_cliente }) }}",
        "options": {}
      },
      "id": "773d615c-7bd4-4516-897d-a1a4fb96fa95",
      "name": "Responder OK",
      "position": [
        3040,
        912
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ success: false, message: 'Lead no encontrado en Notion con ese email' }) }}",
        "options": {
          "responseCode": 404
        }
      },
      "id": "c70c4b69-0ef2-41b2-acba-2b3a00f3deb1",
      "name": "Responder No Encontrado",
      "position": [
        2144,
        1168
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Webhook Kickoff": {
      "main": [
        [
          {
            "node": "Parsear Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Datos": {
      "main": [
        [
          {
            "node": "Buscar Lead en Notion",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Lead en Notion": {
      "main": [
        [
          {
            "node": "IF Lead Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Lead Encontrado": {
      "main": [
        [
          {
            "node": "Construir Body Notion",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Responder No Encontrado",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Construir Body Notion": {
      "main": [
        [
          {
            "node": "Actualizar Notion Pipeline",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar Notion Pipeline": {
      "main": [
        [
          {
            "node": "Preparar para Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar para Sheets": {
      "main": [
        [
          {
            "node": "Registrar en Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Registrar en Google Sheets": {
      "main": [
        [
          {
            "node": "Responder OK",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "2460dcae-0ac9-4f26-9b82-bd208d57b38e",
  "activeVersionId": "2460dcae-0ac9-4f26-9b82-bd208d57b38e",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-26T23:22:33.448Z",
      "createdAt": "2026-02-26T23:22:33.448Z",
      "role": "workflow:owner",
      "workflowId": "vMkd09sGiO7jWEnP",
      "projectId": "zU8ZqM5Dx6MPXDiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-27T10:47:48.000Z",
    "createdAt": "2026-02-27T10:47:32.212Z",
    "versionId": "2460dcae-0ac9-4f26-9b82-bd208d57b38e",
    "workflowId": "vMkd09sGiO7jWEnP",
    "nodes": [
      {
        "parameters": {
          "content": "## 🚀 Flujo Kickoff Interno — System IA\n\n**Trigger:** Formulario HTML interno (`/webhook/kickoff-interno`)\n\n---\n\n### 📥 1. Recepción\n- Webhook GET recibe los datos del formulario\n- Nodo **Parsear Datos** normaliza y valida el email\n\n### 🔍 2. Búsqueda en Notion\n- Busca el lead en **Pipeline Comercial** por email\n- Si no existe → responde 404 y termina\n\n### ✏️ 3. Actualizar Notion Pipeline\n- **Construir Body Notion** arma el JSON con solo los campos completados\n- **PATCH** `/v1/pages/{pageId}` actualiza la página existente\n- Campos: Plan, Precio Setup, Fee Mensual, Método de Pago, Estado de Pago, Prioridad, Servicios Contratados, Fechas, Próximo Pago, Próxima Acción, Responsable\n\n### 📊 4. Actualizar Google Sheets\n- **Preparar para Sheets** mapea campos con nombres exactos de columnas\n- Operación **Upsert** por columna **Email**\n- Si la fila existe → actualiza\n- Si no existe → crea fila nueva\n- LTV Estimado calculado por fórmula ARRAYFORMULA en Sheets\n\n### ✅ 5. Respuesta\n- Devuelve `{ success: true }` al formulario\n- El formulario muestra mensaje verde de confirmación\n\n---\n\n**⚠️ Importante:**\n- El email debe coincidir exactamente con Notion\n- Servicios Contratados → multi_select (separados por coma)\n- Este flujo NO crea registros nuevos en Notion, solo actualiza\n- Próximo Pago = fecha del próximo cobro del fee mensual",
          "height": 1220,
          "width": 3192,
          "color": 5
        },
        "id": "6f6d5076-9297-49bc-b99c-2e8df0f0031a",
        "name": "📘 Documentación Kickoff",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          560,
          -832
        ]
      },
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "kickoff-interno",
          "responseMode": "responseNode",
          "options": {
            "allowedOrigins": "*"
          }
        },
        "id": "8b9d9862-324a-4e9e-b4f7-a62d3d15ed2d",
        "name": "Webhook Kickoff",
        "position": [
          1280,
          1024
        ],
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2,
        "webhookId": "726ab328-cd3c-4bd3-b740-ebe7ebbd5696"
      },
      {
        "parameters": {
          "jsCode": "const d = $input.first().json.body;\n\nconst email = (d.email_cliente || '').trim().toLowerCase();\nif (!email) throw new Error('email_cliente es requerido');\n\nreturn [{ json: {\n  email_cliente: email,\n  id_lead: d.id_lead || '',\n  precio_setup: parseFloat(d.precio_setup) || 0,\n  fee_mensual: parseFloat(d.fee_mensual) || 0,\n  estado_pago: d.estado_pago || 'Pendiente',\n  prioridad: d.prioridad || 'Media',\n  servicios: d.servicios || '',\n  plan: d.plan || '',\n  metodo_pago: d.metodo_pago || '',\n  proximo_pago: d.proximo_pago || '',\n  fecha_inicio: d.fecha_inicio || '',\n  fecha_renovacion: d.fecha_renovacion || '',\n  ultimo_contacto: d.ultimo_contacto || '',\n  proxima_accion: d.proxima_accion || '',\n  responsable: d.responsable || 'Arnaldo',\n  timestamp: new Date().toISOString()\n} }];"
        },
        "id": "41c34398-718c-4794-8695-78c4322f9834",
        "name": "Parsear Datos",
        "position": [
          1472,
          1024
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.notion.com/v1/databases/309668bb-053e-80d8-a3eb-ea165a96ff1a/query",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"filter\": {\n    \"property\": \"Email\",\n    \"email\": {\n      \"equals\": \"{{ $json.email_cliente }}\"\n    }\n  },\n  \"page_size\": 1\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          1696,
          1024
        ],
        "id": "406ef68e-c3d5-4f13-b8f8-420a42e10e40",
        "name": "Buscar Lead en Notion",
        "credentials": {
          "httpBearerAuth": {
            "id": "59bn4xLE65rm7L02",
            "name": "Bearer Auth Notion"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 1
            },
            "conditions": [
              {
                "leftValue": "={{ $json.results.length }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "gt"
                },
                "id": "fd307654-9736-4ae6-8755-d3f374069ebc"
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "ec930cf5-3024-419f-b880-2a880043ba71",
        "name": "IF Lead Encontrado",
        "position": [
          1920,
          1024
        ],
        "type": "n8n-nodes-base.if",
        "typeVersion": 2
      },
      {
        "parameters": {
          "jsCode": "const parsed = $('Parsear Datos').first().json;\nconst notionResponse = $('Buscar Lead en Notion').first().json;\nconst page = notionResponse.results[0];\nconst pageId = page.id;\nconst props = page.properties;\n\n// Funciones para extraer datos de Notion\nconst getTitle = (p) => {\n  try { return props[p].title[0].text.content; } catch(e) { return ''; }\n};\nconst getRichText = (p) => {\n  try { return props[p].rich_text[0].text.content; } catch(e) { return ''; }\n};\nconst getSelect = (p) => {\n  try { return props[p].select.name; } catch(e) { return ''; }\n};\nconst getEmail = (p) => {\n  try { return props[p].email; } catch(e) { return ''; }\n};\nconst getPhone = (p) => {\n  try { return props[p].phone_number; } catch(e) { return ''; }\n};\n\n// Datos que ya existen en Notion\nconst nombre = getTitle('Nombre');\nconst negocio = getRichText('Negocio');\nconst industria = getSelect('Industria');\nconst whatsapp = getPhone('WhatsApp');\nconst email = getEmail('Email');\nconst idCliente = getRichText('ID Cliente');\n\n// Body para actualizar Notion\nconst body = { properties: {} };\n\nif (parsed.precio_setup) body.properties['Precio Setup'] = { number: parsed.precio_setup };\nif (parsed.fee_mensual) body.properties['Precio Mensual'] = { number: parsed.fee_mensual };\nif (parsed.estado_pago) body.properties['Estado de Pago'] = { select: { name: parsed.estado_pago } };\nif (parsed.prioridad) body.properties['Prioridad'] = { select: { name: parsed.prioridad } };\nif (parsed.plan) body.properties['Plan'] = { select: { name: parsed.plan } };\nif (parsed.metodo_pago) body.properties['Método de Pago'] = { select: { name: parsed.metodo_pago } };\nif (parsed.servicios) {\n  const arr = parsed.servicios.split(',').map(s => s.trim()).filter(s => s.length > 0).map(s => ({ name: s }));\n  body.properties['Servicios Contratados'] = { multi_select: arr };\n}\nif (parsed.proximo_pago) body.properties['Próximo Pago'] = { date: { start: parsed.proximo_pago } };\nif (parsed.fecha_inicio) body.properties['Fecha Inicio Servicio'] = { date: { start: parsed.fecha_inicio } };\nif (parsed.fecha_renovacion) body.properties['Fecha Renovación'] = { date: { start: parsed.fecha_renovacion } };\nif (parsed.ultimo_contacto) body.properties['Último Contacto'] = { date: { start: parsed.ultimo_contacto } };\nif (parsed.proxima_accion) body.properties['Próxima Acción'] = { rich_text: [{ text: { content: parsed.proxima_accion } }] };\nif (parsed.responsable) body.properties['Responsable'] = { select: { name: parsed.responsable } };\n\nreturn [{ json: {\n  pageId,\n  body,\n  email_cliente: email || parsed.email_cliente,\n  id_lead: idCliente || parsed.id_lead,\n  nombre,\n  negocio,\n  industria,\n  whatsapp,\n  precio_setup: parsed.precio_setup,\n  fee_mensual: parsed.fee_mensual,\n  estado_pago: parsed.estado_pago,\n  plan: parsed.plan,\n  metodo_pago: parsed.metodo_pago,\n  prioridad: parsed.prioridad,\n  servicios: parsed.servicios,\n  proximo_pago: parsed.proximo_pago,\n  fecha_inicio: parsed.fecha_inicio,\n  fecha_renovacion: parsed.fecha_renovacion,\n  ultimo_contacto: parsed.ultimo_contacto,\n  proxima_accion: parsed.proxima_accion,\n  responsable: parsed.responsable,\n  timestamp: parsed.timestamp\n} }];"
        },
        "id": "938838e1-722e-414e-9486-45ed4aa71eeb",
        "name": "Construir Body Notion",
        "position": [
          2144,
          912
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://api.notion.com/v1/pages/{{ $json.pageId }}",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpBearerAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Notion-Version",
                "value": "2022-06-28"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.body) }}",
          "options": {}
        },
        "id": "35553c0a-9e93-4af0-b09e-a358b6480575",
        "name": "Actualizar Notion Pipeline",
        "position": [
          2368,
          912
        ],
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "credentials": {
          "httpBearerAuth": {
            "id": "59bn4xLE65rm7L02",
            "name": "Bearer Auth Notion"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const parsed = $('Construir Body Notion').first().json;\n\nreturn [{ json: {\n  'ID Cliente': parsed.id_lead || '',\n  'Fecha Alta': parsed.timestamp,\n  'Nombre': parsed.nombre,\n  'Negocio': parsed.negocio,\n  'Industria': parsed.industria,\n  'Email': parsed.email_cliente,\n  'WhatsApp': parsed.whatsapp,\n  'Plan': parsed.plan,\n  'Precio Setup': parsed.precio_setup,\n  'Precio Mensual': parsed.fee_mensual,\n  'LTV Estimado': '',\n  'Método de Pago': parsed.metodo_pago,\n  'Estado de Pago': parsed.estado_pago,\n  'Servicios Contratados': parsed.servicios,\n  'Fecha Inicio Servicio': parsed.fecha_inicio,\n  'Fecha Renovación': parsed.fecha_renovacion,\n  'Próximo Pago': parsed.proximo_pago,\n  'Próxima Acción': parsed.proxima_accion,\n  'Responsable': parsed.responsable,\n  'Prioridad': parsed.prioridad,\n  'Último Contacto': parsed.ultimo_contacto\n} }];"
        },
        "id": "84bafc41-c83f-4314-959c-bcd94ee50ebe",
        "name": "Preparar para Sheets",
        "position": [
          2592,
          912
        ],
        "type": "n8n-nodes-base.code",
        "typeVersion": 2
      },
      {
        "parameters": {
          "operation": "appendOrUpdate",
          "documentId": {
            "__rl": true,
            "value": "14HJkGerBAY5KCR6YBarae59aiCPhKzvt374strsGk3M",
            "mode": "list",
            "cachedResultName": "DB Leads Calificados - System IA",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14HJkGerBAY5KCR6YBarae59aiCPhKzvt374strsGk3M/edit?usp=drivesdk"
          },
          "sheetName": {
            "__rl": true,
            "value": "gid=0",
            "mode": "list",
            "cachedResultName": "Hoja 1",
            "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14HJkGerBAY5KCR6YBarae59aiCPhKzvt374strsGk3M/edit#gid=0"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": {},
            "matchingColumns": [
              "Email"
            ],
            "schema": [
              {
                "id": "ID Cliente",
                "displayName": "ID Cliente",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Fecha Alta",
                "displayName": "Fecha Alta",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Nombre",
                "displayName": "Nombre",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Negocio",
                "displayName": "Negocio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Industria",
                "displayName": "Industria",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Email",
                "displayName": "Email",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true,
                "removed": false
              },
              {
                "id": "WhatsApp",
                "displayName": "WhatsApp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Plan",
                "displayName": "Plan",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Precio Setup",
                "displayName": "Precio Setup",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Precio Mensual",
                "displayName": "Precio Mensual",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "LTV Estimado",
                "displayName": "LTV Estimado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Método de Pago",
                "displayName": "Método de Pago",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Estado de Pago",
                "displayName": "Estado de Pago",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Servicios Contratados",
                "displayName": "Servicios Contratados",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Fecha Inicio Servicio",
                "displayName": "Fecha Inicio Servicio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Fecha Renovación",
                "displayName": "Fecha Renovación",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Próximo Pago",
                "displayName": "Próximo Pago",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Próxima Acción",
                "displayName": "Próxima Acción",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Responsable",
                "displayName": "Responsable",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Prioridad",
                "displayName": "Prioridad",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              },
              {
                "id": "Último Contacto",
                "displayName": "Último Contacto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string",
                "canBeUsedToMatch": true
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "3c1dea3c-a607-4923-ae00-3a3f57cc2cab",
        "name": "Registrar en Google Sheets",
        "position": [
          2816,
          912
        ],
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "9AngrdYrRh5RyUES",
            "name": "Formulario_Leads_System"
          }
        }
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ success: true, message: 'Proyecto actualizado en Notion y Sheets', email: $('Parsear Datos').first().json.email_cliente }) }}",
          "options": {}
        },
        "id": "773d615c-7bd4-4516-897d-a1a4fb96fa95",
        "name": "Responder OK",
        "position": [
          3040,
          912
        ],
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1
      },
      {
        "parameters": {
          "respondWith": "json",
          "responseBody": "={{ JSON.stringify({ success: false, message: 'Lead no encontrado en Notion con ese email' }) }}",
          "options": {
            "responseCode": 404
          }
        },
        "id": "c70c4b69-0ef2-41b2-acba-2b3a00f3deb1",
        "name": "Responder No Encontrado",
        "position": [
          2144,
          1168
        ],
        "type": "n8n-nodes-base.respondToWebhook",
        "typeVersion": 1.1
      }
    ],
    "connections": {
      "Webhook Kickoff": {
        "main": [
          [
            {
              "node": "Parsear Datos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parsear Datos": {
        "main": [
          [
            {
              "node": "Buscar Lead en Notion",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Buscar Lead en Notion": {
        "main": [
          [
            {
              "node": "IF Lead Encontrado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "IF Lead Encontrado": {
        "main": [
          [
            {
              "node": "Construir Body Notion",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Responder No Encontrado",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Construir Body Notion": {
        "main": [
          [
            {
              "node": "Actualizar Notion Pipeline",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Actualizar Notion Pipeline": {
        "main": [
          [
            {
              "node": "Preparar para Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar para Sheets": {
        "main": [
          [
            {
              "node": "Registrar en Google Sheets",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Registrar en Google Sheets": {
        "main": [
          [
            {
              "node": "Responder OK",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Micaela Colmenares",
    "name": "Version 2460dcae",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "id": "sin-tag",
      "name": "sin-tag"
    }
  ]
}