parapruebas-sin-tag.json
{
  "updatedAt": "2026-02-27T20:03:25.122Z",
  "createdAt": "2026-02-26T23:22:22.154Z",
  "id": "862fdABhfR5svr6o",
  "name": "PARAPRUEBAS",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "prospectos-vip",
        "options": {}
      },
      "id": "webhook-1",
      "name": "Webhook (Entrada)",
      "position": [
        -288,
        -16
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "webhookId": "e8797a6a-7e1d-4c48-ba8a-f88ca2f1c887"
    },
    {
      "parameters": {
        "language": "javascript",
        "jsCode": "const lead = $input.item.json.body || {};\\nlet score = 0;\\nif (lead.companySize > 100) score += 30;\\nif (lead.role === 'CEO') score += 50;\\nif (lead.industry === 'Tech') score += 20;\\nlead.lead_score = score;\\nreturn { json: lead };"
      },
      "id": "code-1",
      "name": "Generar Score Comercial",
      "position": [
        256,
        0
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 1
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{$json.lead_score}}",
              "operation": "largerEqual",
              "value2": 50
            }
          ]
        }
      },
      "id": "if-1",
      "name": "¿Score Mayor a 50?",
      "position": [
        512,
        0
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 1
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{$json.industry}}",
        "rules": {
          "rules": [
            {
              "value2": "Tech"
            },
            {
              "value2": "Inmobiliaria",
              "output": 1
            },
            {
              "value2": "Restaurante",
              "output": 2
            }
          ]
        }
      },
      "id": "switch-1",
      "name": "Ruteo por Vertical",
      "position": [
        752,
        -144
      ],
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "canal",
              "value": "#ventas-tech"
            },
            {
              "name": "mensaje",
              "value": "=🔥 URGENTE: Lead Tech gigante. Info: {{$json.name}}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-tech",
      "name": "Notificar Slack VIP",
      "position": [
        1008,
        -304
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://echo.free.beeceptor.com/slack",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{$json.mensaje}}"
            }
          ]
        },
        "options": {}
      },
      "id": "req-tech",
      "name": "HTTP Slack",
      "position": [
        1264,
        -304
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tarjeta",
              "value": "Venta Propiedad: {{$json.name}}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-inmo",
      "name": "Actualizar Trello",
      "position": [
        1008,
        -144
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "tipo",
              "value": "Restaurante"
            }
          ]
        },
        "options": {}
      },
      "id": "set-resto",
      "name": "Base Menús",
      "position": [
        1008,
        0
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 1
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "subject",
              "value": "Lo sentimos"
            },
            {
              "name": "body",
              "value": "No tenemos capacidad comercial hoy."
            }
          ]
        },
        "options": {}
      },
      "id": "set-rechazo",
      "name": "Prepara Rechazo",
      "position": [
        752,
        208
      ],
      "type": "n8n-nodes-base.set",
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://echo.free.beeceptor.com/mail",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "subject",
              "value": "={{$json.subject}}"
            }
          ]
        },
        "options": {}
      },
      "id": "req-reject",
      "name": "HTTP Enviar Mail",
      "position": [
        1008,
        208
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1
    },
    {
      "parameters": {
        "content": "## El Modelo Tradicional (IFs y Switches)\\nMira lo difícil y gigante que se vuelve esto cuando queremos cubrir todos los escenarios posibles sin Inteligencia Artificial.\\n\\nHay que programar matemáticamente un puntaje, verificar con IFs duros, y usar Switches (Ruteos) para separar caminos visualmente... ¡Y esto es solo para 3 tipos de clientes! Si un cliente nuevo no está en la lista de reglas, se pierde el proceso.",
        "height": 300,
        "width": 350,
        "color": 6
      },
      "id": "sticky-1",
      "name": "Sticky Note",
      "position": [
        112,
        -304
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "content": "### Zona VIP (Ruteo)\\nAquí perdemos mucho tiempo armando un camino distinto para cada industria. Si mañana un cliente es de 'Abogacía', el sistema falla porque no hay un camino programado para él, a menos que un humano (tú) venga a agregar otra rama.",
        "height": 450,
        "width": 550,
        "color": 2
      },
      "id": "sticky-2",
      "name": "Sticky Note 2",
      "position": [
        720,
        -448
      ],
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://sytem-ia-pruebas-agente.6g0gdj.easypanel.host/procesar",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "mensaje",
              "value": "=Tengo un Lead de industria {{$json.body.industry}}  con {{$json.body.companySize}} empleados. Evalúalo e indícame si es calificado."
            },
            {
              "name": "cliente_id",
              "value": "={{$json.body.email || \"desconocido\"}}"
            }
          ]
        },
        "options": {}
      },
      "id": "agente-externo",
      "name": "Agente Inteligente (Python)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        272,
        -576
      ]
    },
    {
      "parameters": {
        "content": "## El Futuro (Agentic Workflow)\\n👆 ¡Aquí está el nodo que pediste! \\n\\nConecta el Webhook a él y fíjate como este ÚNICO nodo **reemplaza TODO el desastre de abajo** usando a tu Agente en la Nube.\\n\\nSimplemente ponle Play a este nodo simulando información.",
        "height": 220,
        "width": 350,
        "color": 4
      },
      "id": "sticky-3",
      "name": "Sticky Note 3",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -496,
        -672
      ]
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -304,
        -224
      ],
      "id": "b2e8a27b-b0f6-4d1b-b154-5b5d9f553a05",
      "name": "When clicking ‘Execute workflow’"
    }
  ],
  "connections": {
    "Generar Score Comercial": {
      "main": [
        [
          {
            "index": 0,
            "node": "¿Score Mayor a 50?",
            "type": "main"
          }
        ]
      ]
    },
    "Notificar Slack VIP": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Slack",
            "type": "main"
          }
        ]
      ]
    },
    "Prepara Rechazo": {
      "main": [
        [
          {
            "index": 0,
            "node": "HTTP Enviar Mail",
            "type": "main"
          }
        ]
      ]
    },
    "Ruteo por Vertical": {
      "main": [
        [
          {
            "index": 0,
            "node": "Notificar Slack VIP",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Actualizar Trello",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Base Menús",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook (Entrada)": {
      "main": [
        [
          {
            "node": "Agente Inteligente (Python)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Score Mayor a 50?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Ruteo por Vertical",
            "type": "main"
          }
        ],
        [
          {
            "index": 0,
            "node": "Prepara Rechazo",
            "type": "main"
          }
        ]
      ]
    },
    "When clicking ‘Execute workflow’": {
      "main": [
        []
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "0449f531-7fe2-4f64-8096-e0e917679188",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-26T23:22:22.157Z",
      "createdAt": "2026-02-26T23:22:22.157Z",
      "role": "workflow:owner",
      "workflowId": "862fdABhfR5svr6o",
      "projectId": "zU8ZqM5Dx6MPXDiw"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "id": "sin-tag",
      "name": "sin-tag"
    }
  ]
}