sub-router---enviar-mensaje--lYJsJL8TdSehyZVt.json
{
  "updatedAt": "2026-03-05T11:56:17.540Z",
  "createdAt": "2026-03-02T15:19:51.138Z",
  "id": "lYJsJL8TdSehyZVt",
  "name": "Sub: Router - Enviar Mensaje",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "wt-enviar-01",
      "name": "Recibir Solicitud",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sytem-ia-pruebas-evolution-api.6g0gdj.easypanel.host/message/sendText/System%20IA%20Demo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({number: $json.numero, text: $json.texto}) }}",
        "options": {}
      },
      "id": "hr-enviar-01",
      "name": "Enviar por Evolution API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        688,
        304
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "ZL2CdsQqaFeTMR2w",
          "name": "Header Auth Evolution api"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nlet numero, texto;\n\n// Case 1: fields came as separate named params\nif (data.numero !== undefined && data.texto !== undefined) {\n  numero = String(data.numero).trim();\n  texto = String(data.texto).trim();\n}\n// Case 2: data came as a single query string\nelse if (data.query !== undefined) {\n  const q = String(data.query).replace(/\"/g, '').trim();\n  // Phone is first sequence of digits, text is the rest\n  const m = q.match(/^(\\d+)[\\s,]+(.+)$/s);\n  if (m) {\n    numero = m[1].trim();\n    texto = m[2].trim();\n  } else {\n    throw new Error('No se pudo parsear query: ' + q);\n  }\n}\nelse {\n  throw new Error('Formato de datos desconocido: ' + JSON.stringify(data));\n}\n\nreturn [{ json: { numero, texto } }];"
      },
      "id": "pa-01",
      "name": "Parsear Datos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        464,
        304
      ]
    }
  ],
  "connections": {
    "Recibir Solicitud": {
      "main": [
        [
          {
            "node": "Parsear Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parsear Datos": {
      "main": [
        [
          {
            "node": "Enviar por Evolution API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "6437782e-2bef-42b2-b114-ebf9afbb81aa",
  "activeVersionId": "0265a2cc-76aa-428c-9de6-d87d959567f4",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-02T15:19:51.140Z",
      "createdAt": "2026-03-02T15:19:51.140Z",
      "role": "workflow:owner",
      "workflowId": "lYJsJL8TdSehyZVt",
      "projectId": "YfmAb61LMhjH6jFL"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-02T21:26:21.027Z",
    "createdAt": "2026-03-02T21:26:21.027Z",
    "versionId": "0265a2cc-76aa-428c-9de6-d87d959567f4",
    "workflowId": "lYJsJL8TdSehyZVt",
    "nodes": [
      {
        "id": "wt-enviar-01",
        "name": "Recibir Solicitud",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          240,
          300
        ],
        "parameters": {
          "inputSource": "passthrough"
        }
      },
      {
        "id": "hr-enviar-01",
        "name": "Enviar por Evolution API",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4,
        "position": [
          680,
          300
        ],
        "parameters": {
          "method": "POST",
          "url": "https://sytem-ia-pruebas-evolution-api.6g0gdj.easypanel.host/message/sendText/System%20IA%20Demo",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "contentType": "json",
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify({number: $json.numero, text: $json.texto}) }}",
          "options": {}
        },
        "credentials": {
          "httpHeaderAuth": {
            "id": "ZL2CdsQqaFeTMR2w",
            "name": "Header Auth Evolution api"
          }
        }
      },
      {
        "id": "pa-01",
        "name": "Parsear Datos",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          460,
          300
        ],
        "parameters": {
          "jsCode": "const data = $input.first().json;\nlet numero, texto;\n\n// Case 1: fields came as separate named params\nif (data.numero !== undefined && data.texto !== undefined) {\n  numero = String(data.numero).trim();\n  texto = String(data.texto).trim();\n}\n// Case 2: data came as a single query string\nelse if (data.query !== undefined) {\n  const q = String(data.query).replace(/\"/g, '').trim();\n  // Phone is first sequence of digits, text is the rest\n  const m = q.match(/^(\\d+)[\\s,]+(.+)$/s);\n  if (m) {\n    numero = m[1].trim();\n    texto = m[2].trim();\n  } else {\n    throw new Error('No se pudo parsear query: ' + q);\n  }\n}\nelse {\n  throw new Error('Formato de datos desconocido: ' + JSON.stringify(data));\n}\n\nreturn [{ json: { numero, texto } }];"
        }
      }
    ],
    "connections": {
      "Recibir Solicitud": {
        "main": [
          [
            {
              "node": "Parsear Datos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parsear Datos": {
        "main": [
          [
            {
              "node": "Enviar por Evolution API",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Micaela Colmenares",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2026-03-05T11:54:10.294Z",
      "createdAt": "2026-03-05T11:54:10.294Z",
      "id": "Yw8dIN9KKZ6AIdpE",
      "name": "ROUTER"
    },
    {
      "updatedAt": "2026-03-05T11:54:33.205Z",
      "createdAt": "2026-03-05T11:54:33.205Z",
      "id": "nkFN1DNxNyBIqD31",
      "name": "DEMOS"
    }
  ]
}