sub-cancelar-reserva--5fXNl80LtV6GBHoy.json
{
  "updatedAt": "2026-03-02T10:43:51.152Z",
  "createdAt": "2026-03-02T10:43:51.152Z",
  "id": "5fXNl80LtV6GBHoy",
  "name": "Sub: Cancelar Reserva",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "fbdf6040-994b-4b63-9893-602f1a5504c0",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        -112,
        400
      ]
    },
    {
      "parameters": {
        "operation": "deleteRecord",
        "base": {
          "__rl": true,
          "value": "appdA5rJOmtVvpDrx",
          "mode": "list",
          "cachedResultName": "Automatizacion-Restaurantes",
          "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx"
        },
        "table": {
          "__rl": true,
          "value": "tblqD3q6cwnF6YFXJ",
          "mode": "list",
          "cachedResultName": "Reservas",
          "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx/tblqD3q6cwnF6YFXJ"
        },
        "id": "="
      },
      "id": "47377917-c0b0-4e45-9a37-2bea2e02f634",
      "name": "Eliminar de Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        128,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "cSn4DhEebpFAmHgW",
          "name": "Airtable Access Token Restaurantes"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "resultado",
              "value": "Reserva cancelada y eliminada exitosamente",
              "type": "string"
            },
            {
              "id": "r2",
              "name": "id_eliminado",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "a830b27c-9490-4ba9-9409-a0c8b483209a",
      "name": "Respuesta Exitosa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        368,
        400
      ]
    },
    {
      "parameters": {
        "content": "## ❌ SUB: CANCELAR RESERVA\n\n**Recibe:** id (recID)\n\n**Elimina** de Airtable\n\n⚠️ Acción irreversible",
        "width": 260,
        "color": 3
      },
      "id": "c5d1468e-50a0-4a4e-ae3b-e0bec92cc73d",
      "name": "📋 Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -112,
        192
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Eliminar de Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eliminar de Airtable": {
      "main": [
        [
          {
            "node": "Respuesta Exitosa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "5278f624-ef1b-4df6-bbeb-c45882bbce21",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-02T10:43:51.154Z",
      "createdAt": "2026-03-02T10:43:51.154Z",
      "role": "workflow:owner",
      "workflowId": "5fXNl80LtV6GBHoy",
      "projectId": "YfmAb61LMhjH6jFL"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "id": "sin-tag",
      "name": "sin-tag"
    }
  ]
}