sub:-modificar-reserva-sin-tag.json
{
  "updatedAt": "2026-03-02T10:44:02.076Z",
  "createdAt": "2026-03-02T10:44:02.076Z",
  "id": "1XaXgzJ37N6hOQxH",
  "name": "Sub: Modificar Reserva",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "jsCode": "const trigger = $('When Executed by Another Workflow').first().json;\nconst record = $('Buscar Reserva').first().json;\n\nif (!record || !record.id) {\n  return [{ json: { error: true, response: 'No encontré una reserva con ese nombre, fecha y hora.' } }];\n}\n\nconst result = { id: record.id };\n\nif (trigger.nueva_fecha && trigger.nueva_fecha.trim() !== '' && trigger.nueva_fecha !== 'undefined') {\n  result['Fecha'] = trigger.nueva_fecha.trim();\n}\nif (trigger.nueva_hora && trigger.nueva_hora.trim() !== '' && trigger.nueva_hora !== 'undefined') {\n  result['Hora'] = trigger.nueva_hora.trim();\n}\nif (trigger.nuevas_personas && String(trigger.nuevas_personas).trim() !== '' && String(trigger.nuevas_personas) !== 'undefined') {\n  result['Personas'] = parseInt(trigger.nuevas_personas);\n}\n\nreturn [{ json: result }];"
      },
      "id": "0cbbce86-555e-4d60-8f7a-62614483eee1",
      "name": "Preparar Campos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        720,
        2752
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appdA5rJOmtVvpDrx",
          "mode": "list",
          "cachedResultName": "Automatizacion-Restaurantes",
          "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx"
        },
        "table": {
          "__rl": true,
          "value": "tblqD3q6cwnF6YFXJ",
          "mode": "list",
          "cachedResultName": "Reservas",
          "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx/tblqD3q6cwnF6YFXJ"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Personas",
              "displayName": "Personas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                },
                {
                  "name": "4",
                  "value": "4"
                },
                {
                  "name": "Confirmada",
                  "value": "Confirmada"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Especificaciones",
              "displayName": "Especificaciones",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "c51465fd-cde3-41bd-8b2d-fc9131f2d3ed",
      "name": "Actualizar en Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        960,
        2752
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "EnOMhwky63pMpQQH",
          "name": "Airtable Whatsapp Restaurant"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "response",
              "value": "Reserva modificada exitosamente",
              "type": "string"
            },
            {
              "id": "r2",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "043f6d7a-1161-482c-a864-832571674c9b",
      "name": "Respuesta Exitosa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1200,
        2752
      ]
    },
    {
      "parameters": {
        "content": "## ✏️ SUB: MODIFICAR RESERVA\n\n**Recibe:**\n- id (recID)\n- nueva_fecha (opcional)\n- nueva_hora (opcional)\n- nuevas_personas (opcional)\n\n**Actualiza** solo los campos con valor",
        "height": 200,
        "width": 280,
        "color": 3
      },
      "id": "c3903d35-adc1-488f-82e1-d2edf6399b2e",
      "name": "📋 Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        448,
        2512
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nombre"
            },
            {
              "name": "fecha"
            },
            {
              "name": "hora"
            },
            {
              "name": "nueva_fecha"
            },
            {
              "name": "nueva_hora"
            },
            {
              "name": "nuevas_personas"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        272,
        2752
      ],
      "id": "73099b34-8a5b-476a-b975-1981e37908d4",
      "name": "When Executed by Another Workflow"
    },
    {
      "id": "airtable-buscar-reserva",
      "name": "Buscar Reserva",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        480,
        2752
      ],
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appdA5rJOmtVvpDrx",
          "mode": "list",
          "cachedResultName": "Automatizacion-Restaurantes",
          "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx"
        },
        "table": {
          "__rl": true,
          "value": "tblqD3q6cwnF6YFXJ",
          "mode": "list",
          "cachedResultName": "Reservas",
          "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx/tblqD3q6cwnF6YFXJ"
        },
        "filterByFormula": "={{ \"LOWER({Nombre}) = LOWER('\" + $json.nombre + \"')\" }}",
        "options": {
          "maxRecords": 1
        }
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "EnOMhwky63pMpQQH",
          "name": "Airtable Whatsapp Restaurant"
        }
      }
    }
  ],
  "connections": {
    "Preparar Campos": {
      "main": [
        [
          {
            "node": "Actualizar en Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar en Airtable": {
      "main": [
        [
          {
            "node": "Respuesta Exitosa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Buscar Reserva",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Buscar Reserva": {
      "main": [
        [
          {
            "node": "Preparar Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "c7feede1-8177-4dc8-b105-d7266334f1e6",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-02T10:44:02.078Z",
      "createdAt": "2026-03-02T10:44:02.078Z",
      "role": "workflow:owner",
      "workflowId": "1XaXgzJ37N6hOQxH",
      "projectId": "YfmAb61LMhjH6jFL"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "id": "sin-tag",
      "name": "sin-tag"
    }
  ]
}