sub:-calcular-envío-tienda-sin-tag.json
{
  "updatedAt": "2026-03-02T10:43:47.940Z",
  "createdAt": "2026-03-02T10:43:47.940Z",
  "id": "tpuyVRLPjcvWnbYz",
  "name": "Sub: Calcular Envío Tienda",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "id": "trigger-envio",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "parameters": {}
    },
    {
      "id": "http-modal",
      "name": "Calcular Envío Modal",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        240,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "https://arnaldoayala157--calculadora-envios-tienda-api-calcular.modal.run/calcular",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"precio_producto\": {{ $json.precio_producto }},\n  \"provincia\": \"{{ $json.provincia }}\"\n}",
        "options": {}
      }
    },
    {
      "id": "set-envio",
      "name": "Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        480,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "response",
              "value": "={{ $json.mensaje_cobro }}",
              "type": "string"
            },
            {
              "id": "r2",
              "name": "costo_envio",
              "value": "={{ $json.costo_envio }}",
              "type": "number"
            },
            {
              "id": "r3",
              "name": "total",
              "value": "={{ $json.total }}",
              "type": "number"
            },
            {
              "id": "r4",
              "name": "mensaje_cobro",
              "value": "={{ $json.mensaje_cobro }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Calcular Envío Modal",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Calcular Envío Modal": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "56dd5dcc-62a7-4b1e-a892-1e7c8b45efc1",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-02T10:43:47.941Z",
      "createdAt": "2026-03-02T10:43:47.941Z",
      "role": "workflow:owner",
      "workflowId": "tpuyVRLPjcvWnbYz",
      "projectId": "YfmAb61LMhjH6jFL"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "id": "sin-tag",
      "name": "sin-tag"
    }
  ]
}