sub:-ver-categorias-tienda-sin-tag.json
{
  "id": "xWb27wiSzpj9d4sx",
  "name": "Sub: Ver Categorías Tienda",
  "active": true,
  "tags": [],
  "nodes": [
    {
      "id": "trigger-cats",
      "name": "When Executed by Another Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "parameters": {}
    },
    {
      "id": "airtable-cats",
      "name": "Leer Categorías",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "app6LRnI1AgMk1aTk",
          "mode": "list",
          "cachedResultName": "Tienda de Ropa",
          "cachedResultUrl": "https://airtable.com/app6LRnI1AgMk1aTk"
        },
        "table": {
          "__rl": true,
          "value": "tbldxArHAQHOmMJB1",
          "mode": "list",
          "cachedResultName": "Categorias",
          "cachedResultUrl": "https://airtable.com/app6LRnI1AgMk1aTk/tbldxArHAQHOmMJB1"
        },
        "filterByFormula": "{activa} = TRUE()",
        "options": {}
      },
      "credentials": {
        "airtableTokenApi": {
          "id": "uHWzSoh9H9THt171",
          "name": "Airtable Tienda de Ropas"
        }
      }
    },
    {
      "id": "code-cats",
      "name": "Formatear Categorías",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        300
      ],
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst categorias = items.map((item, i) => {\n  const f = item.json.fields || item.json;\n  return {\n    numero: i + 1,\n    nombre: f.Nombre || f.nombre || '',\n    emoji: f.Emoji || f.emoji || '📦'\n  };\n});\n\nlet texto = '🛍️ *Estas son nuestras categorías:*\\n\\n';\ncategorias.forEach(c => {\n  texto += `${c.numero}. ${c.emoji} *${c.nombre}*\\n`;\n});\ntexto += '\\nEscribí el *número* de la que te interesa 😊';\n\nreturn [{ json: { response: texto } }];"
      }
    },
    {
      "id": "set-cats",
      "name": "Respuesta",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        720,
        300
      ],
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "response",
              "value": "={{ $json.response }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Leer Categorías",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Categorías": {
      "main": [
        [
          {
            "node": "Formatear Categorías",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Formatear Categorías": {
      "main": [
        [
          {
            "node": "Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "callerPolicy": "workflowsFromSameOwner"
  }
}