sub:-buscar-menú-Restaurantes.json
{
  "updatedAt": "2026-02-13T15:48:03.772Z",
  "createdAt": "2026-02-13T01:10:13.777Z",
  "id": "XZDEgwXlZkXjbeQJ",
  "name": "Sub: Buscar Menú",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "9a43cfc9-9162-4f0a-b42a-217d0920763c",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        944,
        784
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query }}",
                    "rightValue": "principales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "dfa13f32-5935-4c90-bdf9-73bbaa941978"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "principales"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query }}",
                    "rightValue": "entradas",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "fcbefcae-817a-4516-a098-fd4ca9c677ed"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "entradas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query }}",
                    "rightValue": "bebidas",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "a255a91b-cba0-4b4c-b047-cb20f6ac89bd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "bebidas"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query }}",
                    "rightValue": "postres",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "d5f32f2f-0953-461a-bf67-53b8d0049dc8"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "postres"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.query }}",
                    "rightValue": "cafeteria",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "90c288b4-5e80-49d3-89aa-0d75520c7f06"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "cafeteria"
            }
          ]
        },
        "options": {}
      },
      "id": "21ad219d-7f03-4e81-8553-016f2f3b6cbd",
      "name": "Switch Categoría",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        1168,
        736
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appdA5rJOmtVvpDrx",
          "mode": "list",
          "cachedResultName": "Automatizacion-Restaurantes",
          "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx"
        },
        "table": {
          "__rl": true,
          "value": "tbl6kh8MpfYGNzZuQ",
          "mode": "list",
          "cachedResultName": "Menús",
          "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx/tbl6kh8MpfYGNzZuQ"
        },
        "filterByFormula": "=FIND('Platos Principales', {Nombre})",
        "options": {}
      },
      "id": "e83e54d5-4b24-4a96-b90e-4f7103a6a804",
      "name": "Airtable Principales",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1392,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "cSn4DhEebpFAmHgW",
          "name": "Airtable Access Token Restaurantes"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appdA5rJOmtVvpDrx",
          "mode": "list",
          "cachedResultName": "Automatizacion-Restaurantes",
          "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx"
        },
        "table": {
          "__rl": true,
          "value": "tbl6kh8MpfYGNzZuQ",
          "mode": "list",
          "cachedResultName": "Menús",
          "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx/tbl6kh8MpfYGNzZuQ"
        },
        "filterByFormula": "=FIND('Entradas y Minutas', {Nombre})",
        "options": {}
      },
      "id": "9aa0d2ff-4c2c-42ab-8d91-8ab0a39236a8",
      "name": "Airtable Entradas",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1392,
        592
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "cSn4DhEebpFAmHgW",
          "name": "Airtable Access Token Restaurantes"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appdA5rJOmtVvpDrx",
          "mode": "list",
          "cachedResultName": "Automatizacion-Restaurantes",
          "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx"
        },
        "table": {
          "__rl": true,
          "value": "tbl6kh8MpfYGNzZuQ",
          "mode": "list",
          "cachedResultName": "Menús",
          "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx/tbl6kh8MpfYGNzZuQ"
        },
        "filterByFormula": "=FIND('Bebidas', {Nombre})",
        "options": {}
      },
      "id": "5ea50f25-08f2-4bfc-bb1b-9c3f20363d14",
      "name": "Airtable Bebidas",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1392,
        784
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "cSn4DhEebpFAmHgW",
          "name": "Airtable Access Token Restaurantes"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appdA5rJOmtVvpDrx",
          "mode": "list",
          "cachedResultName": "Automatizacion-Restaurantes",
          "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx"
        },
        "table": {
          "__rl": true,
          "value": "tbl6kh8MpfYGNzZuQ",
          "mode": "list",
          "cachedResultName": "Menús",
          "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx/tbl6kh8MpfYGNzZuQ"
        },
        "filterByFormula": "=FIND('Postres y Helados', {Nombre})",
        "options": {}
      },
      "id": "595c0b67-0089-41bf-9eaa-3b4519fa3e67",
      "name": "Airtable Postres",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1392,
        976
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "cSn4DhEebpFAmHgW",
          "name": "Airtable Access Token Restaurantes"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appdA5rJOmtVvpDrx",
          "mode": "list",
          "cachedResultName": "Automatizacion-Restaurantes",
          "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx"
        },
        "table": {
          "__rl": true,
          "value": "tbl6kh8MpfYGNzZuQ",
          "mode": "list",
          "cachedResultName": "Menús",
          "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx/tbl6kh8MpfYGNzZuQ"
        },
        "filterByFormula": "=FIND('Cafetería', {Nombre})",
        "options": {}
      },
      "id": "a9036b31-2cd2-4b59-8532-1cccaff303b3",
      "name": "Airtable Cafetería",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1392,
        1168
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "cSn4DhEebpFAmHgW",
          "name": "Airtable Access Token Restaurantes"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sytem-ia-pruebas-evolution-api.6g0gdj.easypanel.host/message/sendMedia/System%20IA%20Demo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Execute Workflow Trigger').first().json.remoteJid }}\",\n  \"mediatype\": \"document\",\n  \"media\": \"{{ $json.Documento[0].url }}\",\n  \"fileName\": \"Menu_Platos_Principales.pdf\",\n  \"caption\": \"🥩 Carta de Platos Principales - Bar Montevideo\"\n}",
        "options": {}
      },
      "id": "adc417dd-76a4-4cb1-89c1-b002a087aaae",
      "name": "Enviar PDF Principales",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        400
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Cg8i23WdofXdKu0X",
          "name": "Header Auth Evolution"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sytem-ia-pruebas-evolution-api.6g0gdj.easypanel.host/message/sendMedia/System%20IA%20Demo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Execute Workflow Trigger').first().json.remoteJid }}\",\n  \"mediatype\": \"document\",\n  \"media\": \"{{ $json.Documento[0].url }}\",\n  \"fileName\": \"Menu_Entradas_Minutas.pdf\",\n  \"caption\": \"🥟 Carta de Entradas y Minutas - Bar Montevideo\"\n}",
        "options": {}
      },
      "id": "6021cede-b2f6-4686-b496-7bfc647c7456",
      "name": "Enviar PDF Entradas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        592
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Cg8i23WdofXdKu0X",
          "name": "Header Auth Evolution"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sytem-ia-pruebas-evolution-api.6g0gdj.easypanel.host/message/sendMedia/System%20IA%20Demo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Execute Workflow Trigger').first().json.remoteJid }}\",\n  \"mediatype\": \"document\",\n  \"media\": \"{{ $json.Documento[0].url }}\",\n  \"fileName\": \"Menu_Bebidas.pdf\",\n  \"caption\": \"🍺 Carta de Bebidas - Bar Montevideo\"\n}",
        "options": {}
      },
      "id": "fcab7820-3062-475f-97de-400439611e1e",
      "name": "Enviar PDF Bebidas",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        784
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Cg8i23WdofXdKu0X",
          "name": "Header Auth Evolution"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sytem-ia-pruebas-evolution-api.6g0gdj.easypanel.host/message/sendMedia/System%20IA%20Demo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Execute Workflow Trigger').first().json.remoteJid }}\",\n  \"mediatype\": \"document\",\n  \"media\": \"{{ $json.Documento[0].url }}\",\n  \"fileName\": \"Menu_Postres_Helados.pdf\",\n  \"caption\": \"🍨 Carta de Postres y Helados - Bar Montevideo\"\n}",
        "options": {}
      },
      "id": "a96fbe44-9d11-4430-966b-860da476d2e7",
      "name": "Enviar PDF Postres",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        976
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Cg8i23WdofXdKu0X",
          "name": "Header Auth Evolution"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sytem-ia-pruebas-evolution-api.6g0gdj.easypanel.host/message/sendMedia/System%20IA%20Demo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $('Execute Workflow Trigger').first().json.remoteJid }}\",\n  \"mediatype\": \"document\",\n  \"media\": \"{{ $json.Documento[0].url }}\",\n  \"fileName\": \"Menu_Cafeteria.pdf\",\n  \"caption\": \"☕ Carta de Cafetería - Bar Montevideo\"\n}",
        "options": {}
      },
      "id": "c18bcaaf-9dbb-4664-89b4-2f04f200463a",
      "name": "Enviar PDF Cafetería",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1616,
        1168
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "Cg8i23WdofXdKu0X",
          "name": "Header Auth Evolution"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "response",
              "value": "Carta enviada correctamente al usuario por WhatsApp",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "552f9a94-b721-41ef-92a7-66cc82072b39",
      "name": "Respuesta Exitosa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1840,
        784
      ]
    },
    {
      "parameters": {
        "content": "## 🍽️ SUB: BUSCAR MENÚ (CORREGIDO)\n\n**Recibe:** categoria, remoteJid\n\n**Fixes aplicados:**\n1. Filtro agregado a Principales\n2. FIND() en vez de = para manejar emojis\n3. Ruta unificada: $json.Documento[0].url\n4. number usa remoteJid",
        "height": 220,
        "width": 300,
        "color": 2
      },
      "id": "e3979582-f1c2-4b9a-aec7-5cfeb9ac8a18",
      "name": "📋 Info1",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        944,
        400
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Switch Categoría",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch Categoría": {
      "main": [
        [
          {
            "node": "Airtable Principales",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable Entradas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable Bebidas",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable Postres",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Airtable Cafetería",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Principales": {
      "main": [
        [
          {
            "node": "Enviar PDF Principales",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Entradas": {
      "main": [
        [
          {
            "node": "Enviar PDF Entradas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Bebidas": {
      "main": [
        [
          {
            "node": "Enviar PDF Bebidas",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Postres": {
      "main": [
        [
          {
            "node": "Enviar PDF Postres",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Airtable Cafetería": {
      "main": [
        [
          {
            "node": "Enviar PDF Cafetería",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar PDF Principales": {
      "main": [
        [
          {
            "node": "Respuesta Exitosa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar PDF Entradas": {
      "main": [
        [
          {
            "node": "Respuesta Exitosa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar PDF Bebidas": {
      "main": [
        [
          {
            "node": "Respuesta Exitosa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar PDF Postres": {
      "main": [
        [
          {
            "node": "Respuesta Exitosa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar PDF Cafetería": {
      "main": [
        [
          {
            "node": "Respuesta Exitosa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "250e39e2-a34e-49c3-a732-6b81e25f7637",
  "activeVersionId": "250e39e2-a34e-49c3-a732-6b81e25f7637",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-13T01:10:13.777Z",
      "createdAt": "2026-02-13T01:10:13.777Z",
      "role": "workflow:owner",
      "workflowId": "XZDEgwXlZkXjbeQJ",
      "projectId": "A5erh6pqAqSjR28k"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-13T15:48:10.249Z",
    "createdAt": "2026-02-13T15:48:03.773Z",
    "versionId": "250e39e2-a34e-49c3-a732-6b81e25f7637",
    "workflowId": "XZDEgwXlZkXjbeQJ",
    "nodes": [
      {
        "parameters": {},
        "id": "9a43cfc9-9162-4f0a-b42a-217d0920763c",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          944,
          784
        ]
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.query }}",
                      "rightValue": "principales",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "dfa13f32-5935-4c90-bdf9-73bbaa941978"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "principales"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.query }}",
                      "rightValue": "entradas",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "fcbefcae-817a-4516-a098-fd4ca9c677ed"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "entradas"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.query }}",
                      "rightValue": "bebidas",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "a255a91b-cba0-4b4c-b047-cb20f6ac89bd"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "bebidas"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.query }}",
                      "rightValue": "postres",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "d5f32f2f-0953-461a-bf67-53b8d0049dc8"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "postres"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 1
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $json.query }}",
                      "rightValue": "cafeteria",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "90c288b4-5e80-49d3-89aa-0d75520c7f06"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "cafeteria"
              }
            ]
          },
          "options": {}
        },
        "id": "21ad219d-7f03-4e81-8553-016f2f3b6cbd",
        "name": "Switch Categoría",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3,
        "position": [
          1168,
          736
        ]
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appdA5rJOmtVvpDrx",
            "mode": "list",
            "cachedResultName": "Automatizacion-Restaurantes",
            "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx"
          },
          "table": {
            "__rl": true,
            "value": "tbl6kh8MpfYGNzZuQ",
            "mode": "list",
            "cachedResultName": "Menús",
            "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx/tbl6kh8MpfYGNzZuQ"
          },
          "filterByFormula": "=FIND('Platos Principales', {Nombre})",
          "options": {}
        },
        "id": "e83e54d5-4b24-4a96-b90e-4f7103a6a804",
        "name": "Airtable Principales",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1392,
          400
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "cSn4DhEebpFAmHgW",
            "name": "Airtable Access Token Restaurantes"
          }
        }
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appdA5rJOmtVvpDrx",
            "mode": "list",
            "cachedResultName": "Automatizacion-Restaurantes",
            "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx"
          },
          "table": {
            "__rl": true,
            "value": "tbl6kh8MpfYGNzZuQ",
            "mode": "list",
            "cachedResultName": "Menús",
            "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx/tbl6kh8MpfYGNzZuQ"
          },
          "filterByFormula": "=FIND('Entradas y Minutas', {Nombre})",
          "options": {}
        },
        "id": "9aa0d2ff-4c2c-42ab-8d91-8ab0a39236a8",
        "name": "Airtable Entradas",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1392,
          592
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "cSn4DhEebpFAmHgW",
            "name": "Airtable Access Token Restaurantes"
          }
        }
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appdA5rJOmtVvpDrx",
            "mode": "list",
            "cachedResultName": "Automatizacion-Restaurantes",
            "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx"
          },
          "table": {
            "__rl": true,
            "value": "tbl6kh8MpfYGNzZuQ",
            "mode": "list",
            "cachedResultName": "Menús",
            "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx/tbl6kh8MpfYGNzZuQ"
          },
          "filterByFormula": "=FIND('Bebidas', {Nombre})",
          "options": {}
        },
        "id": "5ea50f25-08f2-4bfc-bb1b-9c3f20363d14",
        "name": "Airtable Bebidas",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1392,
          784
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "cSn4DhEebpFAmHgW",
            "name": "Airtable Access Token Restaurantes"
          }
        }
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appdA5rJOmtVvpDrx",
            "mode": "list",
            "cachedResultName": "Automatizacion-Restaurantes",
            "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx"
          },
          "table": {
            "__rl": true,
            "value": "tbl6kh8MpfYGNzZuQ",
            "mode": "list",
            "cachedResultName": "Menús",
            "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx/tbl6kh8MpfYGNzZuQ"
          },
          "filterByFormula": "=FIND('Postres y Helados', {Nombre})",
          "options": {}
        },
        "id": "595c0b67-0089-41bf-9eaa-3b4519fa3e67",
        "name": "Airtable Postres",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1392,
          976
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "cSn4DhEebpFAmHgW",
            "name": "Airtable Access Token Restaurantes"
          }
        }
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appdA5rJOmtVvpDrx",
            "mode": "list",
            "cachedResultName": "Automatizacion-Restaurantes",
            "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx"
          },
          "table": {
            "__rl": true,
            "value": "tbl6kh8MpfYGNzZuQ",
            "mode": "list",
            "cachedResultName": "Menús",
            "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx/tbl6kh8MpfYGNzZuQ"
          },
          "filterByFormula": "=FIND('Cafetería', {Nombre})",
          "options": {}
        },
        "id": "a9036b31-2cd2-4b59-8532-1cccaff303b3",
        "name": "Airtable Cafetería",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1392,
          1168
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "cSn4DhEebpFAmHgW",
            "name": "Airtable Access Token Restaurantes"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://sytem-ia-pruebas-evolution-api.6g0gdj.easypanel.host/message/sendMedia/System%20IA%20Demo",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"number\": \"{{ $('Execute Workflow Trigger').first().json.remoteJid }}\",\n  \"mediatype\": \"document\",\n  \"media\": \"{{ $json.Documento[0].url }}\",\n  \"fileName\": \"Menu_Platos_Principales.pdf\",\n  \"caption\": \"🥩 Carta de Platos Principales - Bar Montevideo\"\n}",
          "options": {}
        },
        "id": "adc417dd-76a4-4cb1-89c1-b002a087aaae",
        "name": "Enviar PDF Principales",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1616,
          400
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "Cg8i23WdofXdKu0X",
            "name": "Header Auth Evolution"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://sytem-ia-pruebas-evolution-api.6g0gdj.easypanel.host/message/sendMedia/System%20IA%20Demo",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"number\": \"{{ $('Execute Workflow Trigger').first().json.remoteJid }}\",\n  \"mediatype\": \"document\",\n  \"media\": \"{{ $json.Documento[0].url }}\",\n  \"fileName\": \"Menu_Entradas_Minutas.pdf\",\n  \"caption\": \"🥟 Carta de Entradas y Minutas - Bar Montevideo\"\n}",
          "options": {}
        },
        "id": "6021cede-b2f6-4686-b496-7bfc647c7456",
        "name": "Enviar PDF Entradas",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1616,
          592
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "Cg8i23WdofXdKu0X",
            "name": "Header Auth Evolution"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://sytem-ia-pruebas-evolution-api.6g0gdj.easypanel.host/message/sendMedia/System%20IA%20Demo",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"number\": \"{{ $('Execute Workflow Trigger').first().json.remoteJid }}\",\n  \"mediatype\": \"document\",\n  \"media\": \"{{ $json.Documento[0].url }}\",\n  \"fileName\": \"Menu_Bebidas.pdf\",\n  \"caption\": \"🍺 Carta de Bebidas - Bar Montevideo\"\n}",
          "options": {}
        },
        "id": "fcab7820-3062-475f-97de-400439611e1e",
        "name": "Enviar PDF Bebidas",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1616,
          784
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "Cg8i23WdofXdKu0X",
            "name": "Header Auth Evolution"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://sytem-ia-pruebas-evolution-api.6g0gdj.easypanel.host/message/sendMedia/System%20IA%20Demo",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"number\": \"{{ $('Execute Workflow Trigger').first().json.remoteJid }}\",\n  \"mediatype\": \"document\",\n  \"media\": \"{{ $json.Documento[0].url }}\",\n  \"fileName\": \"Menu_Postres_Helados.pdf\",\n  \"caption\": \"🍨 Carta de Postres y Helados - Bar Montevideo\"\n}",
          "options": {}
        },
        "id": "a96fbe44-9d11-4430-966b-860da476d2e7",
        "name": "Enviar PDF Postres",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1616,
          976
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "Cg8i23WdofXdKu0X",
            "name": "Header Auth Evolution"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://sytem-ia-pruebas-evolution-api.6g0gdj.easypanel.host/message/sendMedia/System%20IA%20Demo",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"number\": \"{{ $('Execute Workflow Trigger').first().json.remoteJid }}\",\n  \"mediatype\": \"document\",\n  \"media\": \"{{ $json.Documento[0].url }}\",\n  \"fileName\": \"Menu_Cafeteria.pdf\",\n  \"caption\": \"☕ Carta de Cafetería - Bar Montevideo\"\n}",
          "options": {}
        },
        "id": "c18bcaaf-9dbb-4664-89b4-2f04f200463a",
        "name": "Enviar PDF Cafetería",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1616,
          1168
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "Cg8i23WdofXdKu0X",
            "name": "Header Auth Evolution"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "r1",
                "name": "response",
                "value": "Carta enviada correctamente al usuario por WhatsApp",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "552f9a94-b721-41ef-92a7-66cc82072b39",
        "name": "Respuesta Exitosa",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1840,
          784
        ]
      },
      {
        "parameters": {
          "content": "## 🍽️ SUB: BUSCAR MENÚ (CORREGIDO)\n\n**Recibe:** categoria, remoteJid\n\n**Fixes aplicados:**\n1. Filtro agregado a Principales\n2. FIND() en vez de = para manejar emojis\n3. Ruta unificada: $json.Documento[0].url\n4. number usa remoteJid",
          "height": 220,
          "width": 300,
          "color": 2
        },
        "id": "e3979582-f1c2-4b9a-aec7-5cfeb9ac8a18",
        "name": "📋 Info1",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          944,
          400
        ]
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Switch Categoría",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Switch Categoría": {
        "main": [
          [
            {
              "node": "Airtable Principales",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Airtable Entradas",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Airtable Bebidas",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Airtable Postres",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Airtable Cafetería",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Airtable Principales": {
        "main": [
          [
            {
              "node": "Enviar PDF Principales",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Airtable Entradas": {
        "main": [
          [
            {
              "node": "Enviar PDF Entradas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Airtable Bebidas": {
        "main": [
          [
            {
              "node": "Enviar PDF Bebidas",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Airtable Postres": {
        "main": [
          [
            {
              "node": "Enviar PDF Postres",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Airtable Cafetería": {
        "main": [
          [
            {
              "node": "Enviar PDF Cafetería",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar PDF Principales": {
        "main": [
          [
            {
              "node": "Respuesta Exitosa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar PDF Entradas": {
        "main": [
          [
            {
              "node": "Respuesta Exitosa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar PDF Bebidas": {
        "main": [
          [
            {
              "node": "Respuesta Exitosa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar PDF Postres": {
        "main": [
          [
            {
              "node": "Respuesta Exitosa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar PDF Cafetería": {
        "main": [
          [
            {
              "node": "Respuesta Exitosa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Micaela Colmenares",
    "name": "Version 250e39e2",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-02-12T19:23:15.621Z",
      "createdAt": "2026-02-12T19:23:15.621Z",
      "id": "TZUE2YowDCU30mFT",
      "name": "Restaurantes"
    },
    {
      "updatedAt": "2026-02-09T19:43:32.620Z",
      "createdAt": "2026-02-09T19:43:32.620Z",
      "id": "dCGM1dWLrqkY4L79",
      "name": "🎯 Demos"
    }
  ]
}