sub:-agendar-reserva-Restaurant.json
{
  "updatedAt": "2026-02-27T13:59:53.678Z",
  "createdAt": "2026-02-26T23:22:45.299Z",
  "id": "4hXZIxYpcSwT8JqN",
  "name": "Sub: Agendar Reserva",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appdA5rJOmtVvpDrx",
          "mode": "list",
          "cachedResultName": "Automatizacion-Restaurantes",
          "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx"
        },
        "table": {
          "__rl": true,
          "value": "tblqD3q6cwnF6YFXJ",
          "mode": "list",
          "cachedResultName": "Reservas",
          "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx/tblqD3q6cwnF6YFXJ"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Nombre": "={{ $json.nombre }}",
            "Fecha": "={{ $json.fecha }}",
            "Hora": "={{ $json.hora }}",
            "Personas": "={{ $json.personas }}",
            "Especificaciones": "={{ $json.especificaciones }}",
            "Estado": "Confirmada"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Nombre",
              "displayName": "Nombre",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Fecha",
              "displayName": "Fecha",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Hora",
              "displayName": "Hora",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Personas",
              "displayName": "Personas",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "number",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Estado",
              "displayName": "Estado",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Todo",
                  "value": "Todo"
                },
                {
                  "name": "In progress",
                  "value": "In progress"
                },
                {
                  "name": "Done",
                  "value": "Done"
                },
                {
                  "name": "4",
                  "value": "4"
                },
                {
                  "name": "Confirmada",
                  "value": "Confirmada"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Especificaciones",
              "displayName": "Especificaciones",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "Attachments",
              "displayName": "Attachments",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "array",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "typecast": "={{ true }}"
        }
      },
      "id": "267a7197-43a1-49b1-a178-5c0618fc6c69",
      "name": "Crear Reserva en Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        448,
        432
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "EnOMhwky63pMpQQH",
          "name": "Airtable Whatsapp Restaurant"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "response",
              "value": "Reserva creada exitosamente",
              "type": "string"
            },
            {
              "id": "r2",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            },
            {
              "id": "r3",
              "name": "nombre",
              "value": "={{ $json.fields.Nombre }}",
              "type": "string"
            },
            {
              "id": "r4",
              "name": "fecha",
              "value": "={{ $json.fields.Fecha }}",
              "type": "string"
            },
            {
              "id": "r5",
              "name": "hora",
              "value": "={{ $json.fields.Hora }}",
              "type": "string"
            },
            {
              "id": "r6",
              "name": "personas",
              "value": "={{ $json.fields.Personas }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "ed8bf987-796d-41c7-8f7e-ace5fb6274e8",
      "name": "Respuesta Exitosa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        688,
        432
      ]
    },
    {
      "parameters": {
        "content": "## 📅 SUB: AGENDAR RESERVA\n\n**Recibe:**\n- nombre\n- fecha (YYYY-MM-DD)\n- hora (HH:MM)\n- personas\n- especificaciones\n\n**Crea** registro en Airtable\n**Devuelve** confirmación + ID",
        "height": 220,
        "width": 280,
        "color": 4
      },
      "id": "227178e3-31dc-46fe-9a67-73623595fee2",
      "name": "📋 Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        208,
        192
      ]
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "nombre"
            },
            {
              "name": "fecha"
            },
            {
              "name": "hora"
            },
            {
              "name": "personas"
            },
            {
              "name": "especificaciones"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        432
      ],
      "id": "1b416de5-bb9a-415c-b7e3-f8bb820de9c9",
      "name": "When Executed by Another Workflow"
    }
  ],
  "connections": {
    "Crear Reserva en Airtable": {
      "main": [
        [
          {
            "node": "Respuesta Exitosa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Crear Reserva en Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "ee8fd9e7-54ff-4e4b-8532-34485feef7a8",
  "activeVersionId": "ee8fd9e7-54ff-4e4b-8532-34485feef7a8",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-26T23:22:45.300Z",
      "createdAt": "2026-02-26T23:22:45.300Z",
      "role": "workflow:owner",
      "workflowId": "4hXZIxYpcSwT8JqN",
      "projectId": "zU8ZqM5Dx6MPXDiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-27T13:59:53.678Z",
    "createdAt": "2026-02-27T13:59:53.678Z",
    "versionId": "ee8fd9e7-54ff-4e4b-8532-34485feef7a8",
    "workflowId": "4hXZIxYpcSwT8JqN",
    "nodes": [
      {
        "parameters": {
          "operation": "create",
          "base": {
            "__rl": true,
            "value": "appdA5rJOmtVvpDrx",
            "mode": "list",
            "cachedResultName": "Automatizacion-Restaurantes",
            "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx"
          },
          "table": {
            "__rl": true,
            "value": "tblqD3q6cwnF6YFXJ",
            "mode": "list",
            "cachedResultName": "Reservas",
            "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx/tblqD3q6cwnF6YFXJ"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "Nombre": "={{ $json.nombre }}",
              "Fecha": "={{ $json.fecha }}",
              "Hora": "={{ $json.hora }}",
              "Personas": "={{ $json.personas }}",
              "Especificaciones": "={{ $json.especificaciones }}",
              "Estado": "Confirmada"
            },
            "matchingColumns": [],
            "schema": [
              {
                "id": "Nombre",
                "displayName": "Nombre",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Fecha",
                "displayName": "Fecha",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "dateTime",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Hora",
                "displayName": "Hora",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Personas",
                "displayName": "Personas",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "number",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Estado",
                "displayName": "Estado",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "options",
                "options": [
                  {
                    "name": "Todo",
                    "value": "Todo"
                  },
                  {
                    "name": "In progress",
                    "value": "In progress"
                  },
                  {
                    "name": "Done",
                    "value": "Done"
                  },
                  {
                    "name": "4",
                    "value": "4"
                  },
                  {
                    "name": "Confirmada",
                    "value": "Confirmada"
                  }
                ],
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Especificaciones",
                "displayName": "Especificaciones",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "string",
                "readOnly": false,
                "removed": false
              },
              {
                "id": "Attachments",
                "displayName": "Attachments",
                "required": false,
                "defaultMatch": false,
                "canBeUsedToMatch": true,
                "display": true,
                "type": "array",
                "readOnly": false,
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {
            "typecast": "={{ true }}"
          }
        },
        "id": "267a7197-43a1-49b1-a178-5c0618fc6c69",
        "name": "Crear Reserva en Airtable",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          448,
          432
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "EnOMhwky63pMpQQH",
            "name": "Airtable Whatsapp Restaurant"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "r1",
                "name": "response",
                "value": "Reserva creada exitosamente",
                "type": "string"
              },
              {
                "id": "r2",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "string"
              },
              {
                "id": "r3",
                "name": "nombre",
                "value": "={{ $json.fields.Nombre }}",
                "type": "string"
              },
              {
                "id": "r4",
                "name": "fecha",
                "value": "={{ $json.fields.Fecha }}",
                "type": "string"
              },
              {
                "id": "r5",
                "name": "hora",
                "value": "={{ $json.fields.Hora }}",
                "type": "string"
              },
              {
                "id": "r6",
                "name": "personas",
                "value": "={{ $json.fields.Personas }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "ed8bf987-796d-41c7-8f7e-ace5fb6274e8",
        "name": "Respuesta Exitosa",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          688,
          432
        ]
      },
      {
        "parameters": {
          "content": "## 📅 SUB: AGENDAR RESERVA\n\n**Recibe:**\n- nombre\n- fecha (YYYY-MM-DD)\n- hora (HH:MM)\n- personas\n- especificaciones\n\n**Crea** registro en Airtable\n**Devuelve** confirmación + ID",
          "height": 220,
          "width": 280,
          "color": 4
        },
        "id": "227178e3-31dc-46fe-9a67-73623595fee2",
        "name": "📋 Info",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          208,
          192
        ]
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "nombre"
              },
              {
                "name": "fecha"
              },
              {
                "name": "hora"
              },
              {
                "name": "personas"
              },
              {
                "name": "especificaciones"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          240,
          432
        ],
        "id": "1b416de5-bb9a-415c-b7e3-f8bb820de9c9",
        "name": "When Executed by Another Workflow"
      }
    ],
    "connections": {
      "Crear Reserva en Airtable": {
        "main": [
          [
            {
              "node": "Respuesta Exitosa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When Executed by Another Workflow": {
        "main": [
          [
            {
              "node": "Crear Reserva en Airtable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Micaela Colmenares",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2026-02-27T13:26:50.137Z",
      "createdAt": "2026-02-27T13:26:50.137Z",
      "id": "RTrTC99Ox1gfMQRA",
      "name": "Restaurant"
    },
    {
      "updatedAt": "2026-02-27T13:26:22.913Z",
      "createdAt": "2026-02-27T13:26:22.913Z",
      "id": "dveKcFU9yNCIwJvk",
      "name": "DEMO"
    },
    {
      "updatedAt": "2026-02-26T23:58:08.513Z",
      "createdAt": "2026-02-26T23:58:08.513Z",
      "id": "h6NCtzLto5r41s9Q",
      "name": "WHATSAPP"
    }
  ]
}