sub:-modificar-reserva-🎯 Demos.json
{
  "updatedAt": "2026-02-13T01:39:10.558Z",
  "createdAt": "2026-02-13T01:12:47.850Z",
  "id": "4oFJ0Ek3v15kzE30",
  "name": "Sub: Modificar Reserva",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "e1e4f040-86df-46d2-8783-6a1e0658f7ef",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [
        320,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "const input = $input.first().json;\nconst fieldsToUpdate = {};\n\nif (input.nueva_fecha && input.nueva_fecha.trim() !== '') {\n  fieldsToUpdate['Fecha'] = input.nueva_fecha.trim();\n}\nif (input.nueva_hora && input.nueva_hora.trim() !== '') {\n  fieldsToUpdate['Hora'] = input.nueva_hora.trim();\n}\nif (input.nuevas_personas && String(input.nuevas_personas).trim() !== '') {\n  fieldsToUpdate['Personas'] = parseInt(input.nuevas_personas);\n}\n\nreturn {\n  json: {\n    id: input.id,\n    fields: fieldsToUpdate,\n    hasChanges: Object.keys(fieldsToUpdate).length > 0\n  }\n};"
      },
      "id": "06f4b9fd-73cb-4b9a-88af-1e47fd4fc7e3",
      "name": "Preparar Campos",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        560,
        400
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appdA5rJOmtVvpDrx",
          "mode": "list",
          "cachedResultName": "Automatizacion-Restaurantes",
          "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx"
        },
        "table": {
          "__rl": true,
          "value": "tblqD3q6cwnF6YFXJ",
          "mode": "list",
          "cachedResultName": "Reservas",
          "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx/tblqD3q6cwnF6YFXJ"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": "={{ $json.fields }}"
        },
        "options": {}
      },
      "id": "2e7dcaa9-4582-4bf7-a05b-3e3a5132cebc",
      "name": "Actualizar en Airtable",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        800,
        400
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "cSn4DhEebpFAmHgW",
          "name": "Airtable Access Token Restaurantes"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "r1",
              "name": "resultado",
              "value": "Reserva modificada exitosamente",
              "type": "string"
            },
            {
              "id": "r2",
              "name": "id",
              "value": "={{ $json.id }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "id": "cc6c016d-088a-42f1-bb65-91e31fa3bfba",
      "name": "Respuesta Exitosa",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1040,
        400
      ]
    },
    {
      "parameters": {
        "content": "## ✏️ SUB: MODIFICAR RESERVA\n\n**Recibe:**\n- id (recID)\n- nueva_fecha (opcional)\n- nueva_hora (opcional)\n- nuevas_personas (opcional)\n\n**Actualiza** solo los campos con valor",
        "height": 200,
        "width": 280,
        "color": 3
      },
      "id": "f453aeba-b491-430e-a410-061d2bedfa22",
      "name": "📋 Info",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        320,
        160
      ]
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Preparar Campos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar Campos": {
      "main": [
        [
          {
            "node": "Actualizar en Airtable",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Actualizar en Airtable": {
      "main": [
        [
          {
            "node": "Respuesta Exitosa",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "0508a159-98d7-486c-a5c0-2dc3a5706130",
  "activeVersionId": "0508a159-98d7-486c-a5c0-2dc3a5706130",
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-02-13T01:12:47.850Z",
      "createdAt": "2026-02-13T01:12:47.850Z",
      "role": "workflow:owner",
      "workflowId": "4oFJ0Ek3v15kzE30",
      "projectId": "A5erh6pqAqSjR28k"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-13T01:39:13.074Z",
    "createdAt": "2026-02-13T01:39:10.560Z",
    "versionId": "0508a159-98d7-486c-a5c0-2dc3a5706130",
    "workflowId": "4oFJ0Ek3v15kzE30",
    "nodes": [
      {
        "parameters": {},
        "id": "e1e4f040-86df-46d2-8783-6a1e0658f7ef",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1,
        "position": [
          320,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "const input = $input.first().json;\nconst fieldsToUpdate = {};\n\nif (input.nueva_fecha && input.nueva_fecha.trim() !== '') {\n  fieldsToUpdate['Fecha'] = input.nueva_fecha.trim();\n}\nif (input.nueva_hora && input.nueva_hora.trim() !== '') {\n  fieldsToUpdate['Hora'] = input.nueva_hora.trim();\n}\nif (input.nuevas_personas && String(input.nuevas_personas).trim() !== '') {\n  fieldsToUpdate['Personas'] = parseInt(input.nuevas_personas);\n}\n\nreturn {\n  json: {\n    id: input.id,\n    fields: fieldsToUpdate,\n    hasChanges: Object.keys(fieldsToUpdate).length > 0\n  }\n};"
        },
        "id": "06f4b9fd-73cb-4b9a-88af-1e47fd4fc7e3",
        "name": "Preparar Campos",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          560,
          400
        ]
      },
      {
        "parameters": {
          "operation": "update",
          "base": {
            "__rl": true,
            "value": "appdA5rJOmtVvpDrx",
            "mode": "list",
            "cachedResultName": "Automatizacion-Restaurantes",
            "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx"
          },
          "table": {
            "__rl": true,
            "value": "tblqD3q6cwnF6YFXJ",
            "mode": "list",
            "cachedResultName": "Reservas",
            "cachedResultUrl": "https://airtable.com/appdA5rJOmtVvpDrx/tblqD3q6cwnF6YFXJ"
          },
          "columns": {
            "mappingMode": "autoMapInputData",
            "value": "={{ $json.fields }}"
          },
          "options": {}
        },
        "id": "2e7dcaa9-4582-4bf7-a05b-3e3a5132cebc",
        "name": "Actualizar en Airtable",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          800,
          400
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "cSn4DhEebpFAmHgW",
            "name": "Airtable Access Token Restaurantes"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "r1",
                "name": "resultado",
                "value": "Reserva modificada exitosamente",
                "type": "string"
              },
              {
                "id": "r2",
                "name": "id",
                "value": "={{ $json.id }}",
                "type": "string"
              }
            ]
          },
          "options": {}
        },
        "id": "cc6c016d-088a-42f1-bb65-91e31fa3bfba",
        "name": "Respuesta Exitosa",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          1040,
          400
        ]
      },
      {
        "parameters": {
          "content": "## ✏️ SUB: MODIFICAR RESERVA\n\n**Recibe:**\n- id (recID)\n- nueva_fecha (opcional)\n- nueva_hora (opcional)\n- nuevas_personas (opcional)\n\n**Actualiza** solo los campos con valor",
          "height": 200,
          "width": 280,
          "color": 3
        },
        "id": "f453aeba-b491-430e-a410-061d2bedfa22",
        "name": "📋 Info",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          320,
          160
        ]
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Preparar Campos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Preparar Campos": {
        "main": [
          [
            {
              "node": "Actualizar en Airtable",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Actualizar en Airtable": {
        "main": [
          [
            {
              "node": "Respuesta Exitosa",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Micaela Colmenares",
    "name": "Version 0508a159",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-02-09T19:43:32.620Z",
      "createdAt": "2026-02-09T19:43:32.620Z",
      "id": "dCGM1dWLrqkY4L79",
      "name": "🎯 Demos"
    },
    {
      "updatedAt": "2026-02-12T19:23:15.621Z",
      "createdAt": "2026-02-12T19:23:15.621Z",
      "id": "TZUE2YowDCU30mFT",
      "name": "Restaurantes"
    }
  ]
}