tally-→-notion-+-brevo-(system-ia)-sin-tag.json
{
  "updatedAt": "2026-03-02T11:35:31.000Z",
  "createdAt": "2026-03-02T10:44:06.348Z",
  "id": "Gxl5bhhLBNSGe8FL",
  "name": "Tally → Notion + Brevo (System IA)",
  "active": false,
  "isArchived": true,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tally-leads",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "33db7f5f-34ab-4b18-867c-c80a6bd72146",
      "name": "Webhook Tally",
      "position": [
        1792,
        1440
      ],
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "webhookId": "a5bf7f90-9c4b-4df6-8d8c-0e47c1af22b6",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.body.data;\nconst fields = data.fields;\n\nconst getField = (key) => {\n  const field = fields.find(f => f.key === key);\n  return field ? field.value : null;\n};\n\nconst getOptionText = (key) => {\n  const field = fields.find(f => f.key === key);\n  if (!field || !field.value || !field.value[0]) return '';\n  const selectedId = field.value[0];\n  const option = field.options.find(o => o.id === selectedId);\n  return option ? option.text : '';\n};\n\nconst getCheckboxesText = (key) => {\n  const relatedFields = fields.filter(f => f.key.startsWith(key + '_') && f.value === true);\n  return relatedFields.map(f => {\n    const label = f.label.replace('¿Qué proceso te gustaría automatizar? (', '').replace(')', '');\n    return label;\n  });\n};\n\nconst nombre = getField('question_OAGZKa') || '';\nconst whatsapp = getField('question_VZJaXj') || '';\nconst email = getField('question_PAONL1') || '';\nconst negocio = getField('question_EPWGel') || '';\nconst industria = getOptionText('question_rlPQRo');\nconst ciudad = getField('question_42rYRr') || '';\nconst instagram = getField('question_jBPrXQ') || '';\nconst web = getField('question_24PYze') || '';\nconst clientesMes = getOptionText('question_xdY7Ed');\nconst empleados = getOptionText('question_ZdaAXV');\nconst presenciaDigital = getOptionText('question_NAoxv0');\nconst dolorPrincipal = getOptionText('question_qbVqXO');\nconst serviciosDeseados = getCheckboxesText('question_QAVqpY');\nconst tiempoProblema = getOptionText('question_9dQYPE');\nconst presupuesto = getOptionText('question_eBRG8x');\nconst timing = getOptionText('question_WAz6Xe');\nconst intencion = getOptionText('question_aBd1XZ');\nconst horario = getOptionText('question_6dNYGA') || 'No especificado';\nconst dia = getOptionText('question_7dxYOa') || 'No especificado';\nconst notas = getField('question_bldMX6') || '';\n\nlet puntaje = 0;\n\nif (clientesMes.includes('Más de 200')) puntaje += 8;\nelse if (clientesMes.includes('Entre 50 y 200')) puntaje += 6;\nelse if (clientesMes.includes('Entre 10 y 50')) puntaje += 4;\nelse puntaje += 2;\n\nif (empleados.includes('Más de 50')) puntaje += 6;\nelse if (empleados.includes('16 - 50')) puntaje += 5;\nelse if (empleados.includes('6 - 15')) puntaje += 4;\nelse if (empleados.includes('2 - 5')) puntaje += 3;\nelse puntaje += 1;\n\nif (presupuesto.includes('$300-1000')) puntaje += 10;\nelse if (presupuesto.includes('$100-300')) puntaje += 6;\nelse if (presupuesto.includes('Aún no')) puntaje += 3;\nelse puntaje += 0;\n\nif (timing.includes('Ya mismo')) puntaje += 8;\nelse if (timing.includes('1-2 semanas')) puntaje += 6;\nelse if (timing.includes('1-3 meses')) puntaje += 4;\nelse puntaje += 2;\n\nif (intencion.includes('consultoría')) puntaje += 8;\nelse puntaje += 3;\n\nlet clasificacion = '❄️ COLD';\nif (puntaje >= 28) clasificacion = '🔥 HOT';\nelse if (puntaje >= 18) clasificacion = '🌡️ WARM';\n\nconst enviarPipeline = puntaje >= 28 && intencion.includes('consultoría');\nconst listaBrevo = enviarPipeline ? 3 : 4;\n\nreturn [{\n  json: {\n    nombre,\n    email,\n    whatsapp,\n    negocio,\n    industria,\n    ciudad,\n    instagram,\n    web,\n    clientesMes,\n    empleados,\n    presenciaDigital,\n    dolorPrincipal,\n    serviciosDeseados: serviciosDeseados.join(', '),\n    tiempoProblema,\n    presupuesto,\n    timing,\n    intencion,\n    horario,\n    dia,\n    notas,\n    puntaje,\n    clasificacion,\n    enviarPipeline,\n    listaBrevo,\n    estado: enviarPipeline ? 'Nuevo' : 'En Nurturing',\n    fuente: 'Formulario Web'\n  }\n}];"
      },
      "id": "03928dd0-0ab7-4b58-8a59-01843496e9d2",
      "name": "Procesar Datos y Calcular Puntaje",
      "position": [
        2016,
        1440
      ],
      "type": "n8n-nodes-base.code",
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "309668bb-053e-807a-a410-d432654f58fd",
          "mode": "list",
          "cachedResultName": "Leads Entrantes - System IA",
          "cachedResultUrl": "https://www.notion.so/309668bb053e807aa410d432654f58fd"
        },
        "title": "={{ $json.nombre }}\n",
        "options": {}
      },
      "id": "92a0e970-d560-4823-9314-16659540968f",
      "name": "Guardar en Notion Base 1",
      "position": [
        2240,
        1328
      ],
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "credentials": {
        "notionApi": {
          "id": "2LmvsaMYbOfbLZ8w",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "conditions": [
            {
              "id": "condicion-pipeline",
              "leftValue": "={{ $json.enviarPipeline }}",
              "operator": {
                "operation": "equals",
                "type": "boolean"
              },
              "rightValue": true
            }
          ],
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          }
        },
        "options": {}
      },
      "id": "8a9b0f3e-ce23-4b24-a8c6-21ad57e9e5f4",
      "name": "¿Es HOT y pidió consultoría?",
      "position": [
        2176,
        1664
      ],
      "type": "n8n-nodes-base.if",
      "typeVersion": 2
    },
    {
      "parameters": {
        "resource": "databasePage",
        "databaseId": {
          "__rl": true,
          "value": "309668bb-053e-80d8-a3eb-ea165a96ff1a",
          "mode": "list",
          "cachedResultName": "Pipeline Comercial",
          "cachedResultUrl": "https://www.notion.so/309668bb053e80d8a3ebea165a96ff1a"
        },
        "title": "={{ $json.nombre }}",
        "propertiesUi": {
          "propertyValues": [
            {
              "key": "Estado|select",
              "type": "select",
              "selectValue": "⭐ Llamada Solicitada"
            },
            {
              "key": "Email",
              "type": "email",
              "emailValue": "={{ $json.email }}"
            },
            {
              "key": "Industria",
              "type": "select",
              "selectValue": "={{ $json.industria }}"
            },
            {
              "key": "Puntaje",
              "type": "number",
              "numberValue": "={{ $json.puntaje }}"
            },
            {
              "key": "Clasificación",
              "type": "select",
              "selectValue": "={{ $json.clasificacion }}"
            },
            {
              "key": "Fecha Solicitud",
              "type": "date"
            }
          ]
        },
        "options": {}
      },
      "id": "757a398b-a1cb-4e7c-a1c3-6903bfc7d4e5",
      "name": "Guardar en Notion Base 2 (Pipeline)",
      "position": [
        2464,
        1552
      ],
      "type": "n8n-nodes-base.notion",
      "typeVersion": 2.2,
      "credentials": {
        "notionApi": {
          "id": "2LmvsaMYbOfbLZ8w",
          "name": "Notion account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.brevo.com/v3/contacts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {}
          ]
        },
        "options": {}
      },
      "id": "87905b11-1055-4073-aa05-9880e295cf12",
      "name": "Create Contact (HTTP)",
      "position": [
        2480,
        1792
      ],
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "credentials": {
        "sendInBlueApi": {
          "id": "zxIZwtDKHCwXjQ7K",
          "name": "Brevo account"
        },
        "httpHeaderAuth": {
          "id": "EbcOTdy0yqYOnMjs",
          "name": "Header Auth Brevo"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Lead registrado correctamente\", \"nombre\": $json.nombre, \"puntaje\": $json.puntaje } }}",
        "options": {}
      },
      "id": "4c6e8ee6-f630-4367-9a34-758fd5003e24",
      "name": "Responder a Tally",
      "position": [
        2464,
        1328
      ],
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1
    }
  ],
  "connections": {
    "Guardar en Notion Base 1": {
      "main": [
        [
          {
            "index": 0,
            "node": "Responder a Tally",
            "type": "main"
          }
        ]
      ]
    },
    "Procesar Datos y Calcular Puntaje": {
      "main": [
        [
          {
            "index": 0,
            "node": "Guardar en Notion Base 1",
            "type": "main"
          },
          {
            "index": 0,
            "node": "¿Es HOT y pidió consultoría?",
            "type": "main"
          },
          {
            "index": 0,
            "node": "Create Contact (HTTP)",
            "type": "main"
          }
        ]
      ]
    },
    "Webhook Tally": {
      "main": [
        [
          {
            "index": 0,
            "node": "Procesar Datos y Calcular Puntaje",
            "type": "main"
          }
        ]
      ]
    },
    "¿Es HOT y pidió consultoría?": {
      "main": [
        [
          {
            "index": 0,
            "node": "Guardar en Notion Base 2 (Pipeline)",
            "type": "main"
          }
        ],
        []
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "e3f9c4d7-d4cc-4ecd-9f6a-b67d0c5acb5c",
  "activeVersionId": null,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-02T10:44:06.349Z",
      "createdAt": "2026-03-02T10:44:06.349Z",
      "role": "workflow:owner",
      "workflowId": "Gxl5bhhLBNSGe8FL",
      "projectId": "YfmAb61LMhjH6jFL"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "id": "sin-tag",
      "name": "sin-tag"
    }
  ]
}