tienda-de-ropa---flujo-principal-(agente)-Tiendas.json
{
  "updatedAt": "2026-02-27T21:52:45.862Z",
  "createdAt": "2026-02-27T21:08:03.762Z",
  "id": "uEwHZWmL4XH0YMra",
  "name": "Tienda de Ropa - Flujo Principal (Agente)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "tienda-ropa",
        "responseMode": "onReceived",
        "responseData": ""
      },
      "id": "node-wh1",
      "name": "Webhook Evolution",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        0,
        304
      ],
      "webhookId": "9c25053f-deb1-4e80-b89b-c9e31bf066cf"
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-event",
              "leftValue": "={{ $json.body.event }}",
              "rightValue": "messages.upsert",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "cond-fromMe",
              "leftValue": "={{ $json.body.data.key.fromMe }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "node-fl1",
      "name": "Filtro: Mensaje válido",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        208,
        304
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "telefono",
              "value": "={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net', '').replace('@g.us', '') }}",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "mensaje",
              "value": "={{ $json.body.data.message && $json.body.data.message.conversation ? $json.body.data.message.conversation : $json.body.data.message && $json.body.data.message.imageMessage && $json.body.data.message.imageMessage.caption ? $json.body.data.message.imageMessage.caption : '' }}",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "nombre_wa",
              "value": "={{ $json.body.data.pushName || 'Cliente' }}",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "tiene_imagen",
              "value": "={{ $json.body.data.messageType === 'imageMessage' }}",
              "type": "boolean"
            }
          ]
        },
        "options": {}
      },
      "id": "node-ext",
      "name": "Extraer Datos",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        400,
        304
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-dueno",
              "leftValue": "={{ $json.telefono }}",
              "rightValue": "+5493765384843",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            },
            {
              "id": "cond-pago",
              "leftValue": "={{ $json.mensaje.toLowerCase() }}",
              "rightValue": "pago confirmado",
              "operator": {
                "type": "string",
                "operation": "contains",
                "name": "filter.operator.contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "node-dno",
      "name": "¿Es dueño + pago confirmado?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        608,
        304
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1UYxSuKi1uLyOAqONNQwXJe7FgpGGcFQN0fBC-vxhxqo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "pedidos",
          "mode": "name"
        },
        "options": {}
      },
      "id": "node-rdp",
      "name": "Leer Pedidos Pendientes",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        800,
        112
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9AngrdYrRh5RyUES",
          "name": "Formulario_Leads_System"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst pendientes = items.filter(item => item.json.estado === 'pendiente');\nif (pendientes.length === 0) {\n  return [{ json: { found: false, error: 'No hay pedidos pendientes' } }];\n}\nconst ultimo = pendientes[pendientes.length - 1];\nreturn [{ json: { found: true, ...ultimo.json } }];"
      },
      "id": "node-obt",
      "name": "Obtener Ultimo Pendiente",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1008,
        112
      ]
    },
    {
      "parameters": {
        "conditions": {
          "combinator": "and",
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-found",
              "leftValue": "={{ $json.found }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ]
        },
        "options": {}
      },
      "id": "node-hpd",
      "name": "¿Hay pedido pendiente?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1200,
        112
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sytem-ia-pruebas-evolution-api.6g0gdj.easypanel.host/message/sendText/System%20IA%20Demo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.telefono }}\",\n  \"text\": \"🎉 *¡Pago confirmado!* 🎉\\n\\nHola {{ $json.nombre }}, confirmamos que recibimos tu pago correctamente.\\n\\n📦 *Tu pedido:*\\n• Producto: {{ $json.producto }}\\n• Precio: ${{ $json.precio_producto }}\\n• Envío: ${{ $json.costo_envio }}\\n• *Total: ${{ $json.total }}*\\n\\n🚚 Tu pedido llegará en aproximadamente *7 a 15 días*.\\n\\n¡Gracias por tu compra! 😊\"\n}",
        "options": {}
      },
      "id": "node-ecc",
      "name": "Enviar Confirmacion al Cliente",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1408,
        0
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "S4QSQlXLKNyAfGtu",
          "name": "Header Auth Evolution Api"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "1UYxSuKi1uLyOAqONNQwXJe7FgpGGcFQN0fBC-vxhxqo",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "pedidos",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "telefono": "={{ $('Obtener Ultimo Pendiente').first().json.telefono }}",
            "estado": "confirmado",
            "precio_producto": 0,
            "costo_envio": 0,
            "total": 0
          },
          "matchingColumns": [
            "telefono"
          ],
          "schema": [
            {
              "id": "fecha",
              "displayName": "fecha",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string"
            },
            {
              "id": "nombre",
              "displayName": "nombre",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string"
            },
            {
              "id": "telefono",
              "displayName": "telefono",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string"
            },
            {
              "id": "ciudad",
              "displayName": "ciudad",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string"
            },
            {
              "id": "provincia",
              "displayName": "provincia",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string"
            },
            {
              "id": "producto",
              "displayName": "producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string"
            },
            {
              "id": "categoria",
              "displayName": "categoria",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string"
            },
            {
              "id": "precio_producto",
              "displayName": "precio_producto",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number"
            },
            {
              "id": "costo_envio",
              "displayName": "costo_envio",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number"
            },
            {
              "id": "total",
              "displayName": "total",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number"
            },
            {
              "id": "estado",
              "displayName": "estado",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string"
            },
            {
              "id": "timestamp",
              "displayName": "timestamp",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string"
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "node-aep",
      "name": "Actualizar Estado Pedido",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        1600,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "9AngrdYrRh5RyUES",
          "name": "Formulario_Leads_System"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.mensaje || '[El cliente envio una imagen - posible comprobante de pago]' }}",
        "options": {}
      },
      "id": "node-agt",
      "name": "AI Agent Tienda",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        768,
        480
      ]
    },
    {
      "parameters": {
        "model": "gpt-4o-mini",
        "options": {}
      },
      "id": "node-oai",
      "name": "OpenAI Chat Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        608,
        720
      ],
      "credentials": {
        "openAiApi": {
          "id": "BrD15coHeXdGWac2",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "sessionKey": "={{ $json.telefono }}",
        "contextWindowLength": 20
      },
      "id": "node-mem",
      "name": "Simple Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        800,
        720
      ]
    },
    {
      "parameters": {
        "description": "Muestra las categorias de productos disponibles en la tienda. No requiere parametros.",
        "workflowId": {
          "__rl": true,
          "value": "xWb27wiSzpj9d4sx",
          "mode": "id"
        }
      },
      "id": "node-t01",
      "name": "ver_categorias",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1008,
        720
      ]
    },
    {
      "parameters": {
        "description": "Muestra los productos de una categoria. Requiere: categoria (string, nombre de la categoria elegida).",
        "workflowId": {
          "__rl": true,
          "value": "EOdJH8nzrVsRfHLz",
          "mode": "id"
        }
      },
      "id": "node-t02",
      "name": "ver_productos",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1200,
        720
      ]
    },
    {
      "parameters": {
        "description": "Envia la imagen de un producto al cliente por WhatsApp. Requiere: imagen_url (URL de la imagen), caption (descripcion del producto con precio).",
        "workflowId": {
          "__rl": true,
          "value": "3IBfRGsHm51g1rGk",
          "mode": "id"
        }
      },
      "id": "node-t03",
      "name": "enviar_imagen",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1408,
        720
      ]
    },
    {
      "parameters": {
        "description": "Calcula el costo de envio. Requiere: precio_producto (numero en pesos), provincia (string, provincia argentina del cliente).",
        "workflowId": {
          "__rl": true,
          "value": "B5EmFwWaue0IiNuS",
          "mode": "id"
        }
      },
      "id": "node-t04",
      "name": "calcular_envio",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1600,
        720
      ]
    },
    {
      "parameters": {
        "description": "Registra el pedido cuando el cliente envia el comprobante de pago (tiene_imagen=true). Requiere: nombre, ciudad, provincia, producto, categoria, precio_producto (numero), costo_envio (numero), total (numero).",
        "workflowId": {
          "__rl": true,
          "value": "VBlLIxvJizzgnK9q",
          "mode": "id"
        }
      },
      "id": "node-t05",
      "name": "registrar_pedido",
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2.2,
      "position": [
        1808,
        720
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst output = (items[0] && items[0].json && items[0].json.output) ? items[0].json.output : (items[0] && items[0].json && items[0].json.text) ? items[0].json.text : '';\nconst telefono = $('Extraer Datos').first().json.telefono;\nif (!output) return [{ json: { mensaje: '...', telefono } }];\n\nconst maxLen = 1500;\nconst chunks = [];\nif (output.length <= maxLen) {\n  chunks.push(output);\n} else {\n  const parts = output.split('\\n\\n');\n  let current = '';\n  for (const part of parts) {\n    if ((current + '\\n\\n' + part).length > maxLen && current) {\n      chunks.push(current.trim());\n      current = part;\n    } else {\n      current = current ? current + '\\n\\n' + part : part;\n    }\n  }\n  if (current) chunks.push(current.trim());\n}\n\nreturn chunks.map(chunk => ({ json: { mensaje: chunk, telefono } }));"
      },
      "id": "node-dvd",
      "name": "Dividir Respuesta",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1168,
        480
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sytem-ia-pruebas-evolution-api.6g0gdj.easypanel.host/message/sendText/System%20IA%20Demo",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"number\": \"{{ $json.telefono }}\",\n  \"text\": \"{{ $json.mensaje }}\"\n}",
        "options": {}
      },
      "id": "node-ewp",
      "name": "Enviar WhatsApp",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1424,
        480
      ],
      "credentials": {
        "httpHeaderAuth": {
          "id": "S4QSQlXLKNyAfGtu",
          "name": "Header Auth Evolution Api"
        }
      }
    }
  ],
  "connections": {
    "Webhook Evolution": {
      "main": [
        [
          {
            "node": "Filtro: Mensaje válido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filtro: Mensaje válido": {
      "main": [
        [
          {
            "node": "Extraer Datos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extraer Datos": {
      "main": [
        [
          {
            "node": "¿Es dueño + pago confirmado?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Es dueño + pago confirmado?": {
      "main": [
        [
          {
            "node": "Leer Pedidos Pendientes",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "AI Agent Tienda",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Leer Pedidos Pendientes": {
      "main": [
        [
          {
            "node": "Obtener Ultimo Pendiente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Obtener Ultimo Pendiente": {
      "main": [
        [
          {
            "node": "¿Hay pedido pendiente?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Hay pedido pendiente?": {
      "main": [
        [
          {
            "node": "Enviar Confirmacion al Cliente",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Enviar Confirmacion al Cliente": {
      "main": [
        [
          {
            "node": "Actualizar Estado Pedido",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent Tienda": {
      "main": [
        [
          {
            "node": "Dividir Respuesta",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Dividir Respuesta": {
      "main": [
        [
          {
            "node": "Enviar WhatsApp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent Tienda",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent Tienda",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "ver_categorias": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Tienda",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "ver_productos": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Tienda",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "enviar_imagen": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Tienda",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "calcular_envio": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Tienda",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "registrar_pedido": {
      "ai_tool": [
        [
          {
            "node": "AI Agent Tienda",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": {},
  "versionId": "7ecd26c9-0f9e-4c40-9938-bca54acc2528",
  "activeVersionId": "7ecd26c9-0f9e-4c40-9938-bca54acc2528",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-27T21:08:03.764Z",
      "createdAt": "2026-02-27T21:08:03.764Z",
      "role": "workflow:owner",
      "workflowId": "uEwHZWmL4XH0YMra",
      "projectId": "zU8ZqM5Dx6MPXDiw"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-27T21:52:45.863Z",
    "createdAt": "2026-02-27T21:52:45.863Z",
    "versionId": "7ecd26c9-0f9e-4c40-9938-bca54acc2528",
    "workflowId": "uEwHZWmL4XH0YMra",
    "nodes": [
      {
        "parameters": {
          "httpMethod": "POST",
          "path": "tienda-ropa",
          "responseMode": "onReceived",
          "responseData": ""
        },
        "id": "node-wh1",
        "name": "Webhook Evolution",
        "type": "n8n-nodes-base.webhook",
        "typeVersion": 2.1,
        "position": [
          0,
          304
        ],
        "webhookId": "9c25053f-deb1-4e80-b89b-c9e31bf066cf"
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-event",
                "leftValue": "={{ $json.body.event }}",
                "rightValue": "messages.upsert",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "cond-fromMe",
                "leftValue": "={{ $json.body.data.key.fromMe }}",
                "rightValue": false,
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ]
          },
          "options": {}
        },
        "id": "node-fl1",
        "name": "Filtro: Mensaje válido",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          208,
          304
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "a1",
                "name": "telefono",
                "value": "={{ $json.body.data.key.remoteJid.replace('@s.whatsapp.net', '').replace('@g.us', '') }}",
                "type": "string"
              },
              {
                "id": "a2",
                "name": "mensaje",
                "value": "={{ $json.body.data.message && $json.body.data.message.conversation ? $json.body.data.message.conversation : $json.body.data.message && $json.body.data.message.imageMessage && $json.body.data.message.imageMessage.caption ? $json.body.data.message.imageMessage.caption : '' }}",
                "type": "string"
              },
              {
                "id": "a3",
                "name": "nombre_wa",
                "value": "={{ $json.body.data.pushName || 'Cliente' }}",
                "type": "string"
              },
              {
                "id": "a4",
                "name": "tiene_imagen",
                "value": "={{ $json.body.data.messageType === 'imageMessage' }}",
                "type": "boolean"
              }
            ]
          },
          "options": {}
        },
        "id": "node-ext",
        "name": "Extraer Datos",
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          400,
          304
        ]
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-dueno",
                "leftValue": "={{ $json.telefono }}",
                "rightValue": "+5493765384843",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              },
              {
                "id": "cond-pago",
                "leftValue": "={{ $json.mensaje.toLowerCase() }}",
                "rightValue": "pago confirmado",
                "operator": {
                  "type": "string",
                  "operation": "contains",
                  "name": "filter.operator.contains"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "node-dno",
        "name": "¿Es dueño + pago confirmado?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          608,
          304
        ]
      },
      {
        "parameters": {
          "documentId": {
            "__rl": true,
            "value": "1UYxSuKi1uLyOAqONNQwXJe7FgpGGcFQN0fBC-vxhxqo",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "pedidos",
            "mode": "name"
          },
          "options": {}
        },
        "id": "node-rdp",
        "name": "Leer Pedidos Pendientes",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          800,
          112
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "9AngrdYrRh5RyUES",
            "name": "Formulario_Leads_System"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst pendientes = items.filter(item => item.json.estado === 'pendiente');\nif (pendientes.length === 0) {\n  return [{ json: { found: false, error: 'No hay pedidos pendientes' } }];\n}\nconst ultimo = pendientes[pendientes.length - 1];\nreturn [{ json: { found: true, ...ultimo.json } }];"
        },
        "id": "node-obt",
        "name": "Obtener Ultimo Pendiente",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1008,
          112
        ]
      },
      {
        "parameters": {
          "conditions": {
            "combinator": "and",
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "cond-found",
                "leftValue": "={{ $json.found }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true",
                  "singleValue": true
                }
              }
            ]
          },
          "options": {}
        },
        "id": "node-hpd",
        "name": "¿Hay pedido pendiente?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1200,
          112
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://sytem-ia-pruebas-evolution-api.6g0gdj.easypanel.host/message/sendText/System%20IA%20Demo",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"number\": \"{{ $json.telefono }}\",\n  \"text\": \"🎉 *¡Pago confirmado!* 🎉\\n\\nHola {{ $json.nombre }}, confirmamos que recibimos tu pago correctamente.\\n\\n📦 *Tu pedido:*\\n• Producto: {{ $json.producto }}\\n• Precio: ${{ $json.precio_producto }}\\n• Envío: ${{ $json.costo_envio }}\\n• *Total: ${{ $json.total }}*\\n\\n🚚 Tu pedido llegará en aproximadamente *7 a 15 días*.\\n\\n¡Gracias por tu compra! 😊\"\n}",
          "options": {}
        },
        "id": "node-ecc",
        "name": "Enviar Confirmacion al Cliente",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1408,
          0
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "S4QSQlXLKNyAfGtu",
            "name": "Header Auth Evolution Api"
          }
        }
      },
      {
        "parameters": {
          "operation": "update",
          "documentId": {
            "__rl": true,
            "value": "1UYxSuKi1uLyOAqONNQwXJe7FgpGGcFQN0fBC-vxhxqo",
            "mode": "id"
          },
          "sheetName": {
            "__rl": true,
            "value": "pedidos",
            "mode": "name"
          },
          "columns": {
            "mappingMode": "defineBelow",
            "value": {
              "telefono": "={{ $('Obtener Ultimo Pendiente').first().json.telefono }}",
              "estado": "confirmado",
              "precio_producto": 0,
              "costo_envio": 0,
              "total": 0
            },
            "matchingColumns": [
              "telefono"
            ],
            "schema": [
              {
                "id": "fecha",
                "displayName": "fecha",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string"
              },
              {
                "id": "nombre",
                "displayName": "nombre",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string"
              },
              {
                "id": "telefono",
                "displayName": "telefono",
                "required": false,
                "defaultMatch": true,
                "display": true,
                "type": "string"
              },
              {
                "id": "ciudad",
                "displayName": "ciudad",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string"
              },
              {
                "id": "provincia",
                "displayName": "provincia",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string"
              },
              {
                "id": "producto",
                "displayName": "producto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string"
              },
              {
                "id": "categoria",
                "displayName": "categoria",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string"
              },
              {
                "id": "precio_producto",
                "displayName": "precio_producto",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number"
              },
              {
                "id": "costo_envio",
                "displayName": "costo_envio",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number"
              },
              {
                "id": "total",
                "displayName": "total",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "number"
              },
              {
                "id": "estado",
                "displayName": "estado",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string"
              },
              {
                "id": "timestamp",
                "displayName": "timestamp",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "type": "string"
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": false
          },
          "options": {}
        },
        "id": "node-aep",
        "name": "Actualizar Estado Pedido",
        "type": "n8n-nodes-base.googleSheets",
        "typeVersion": 4.5,
        "position": [
          1600,
          0
        ],
        "credentials": {
          "googleSheetsOAuth2Api": {
            "id": "9AngrdYrRh5RyUES",
            "name": "Formulario_Leads_System"
          }
        }
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "={{ $json.mensaje || '[El cliente envio una imagen - posible comprobante de pago]' }}",
          "options": {}
        },
        "id": "node-agt",
        "name": "AI Agent Tienda",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 1.7,
        "position": [
          768,
          480
        ]
      },
      {
        "parameters": {
          "model": "gpt-4o-mini",
          "options": {}
        },
        "id": "node-oai",
        "name": "OpenAI Chat Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.2,
        "position": [
          608,
          720
        ],
        "credentials": {
          "openAiApi": {
            "id": "BrD15coHeXdGWac2",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "sessionKey": "={{ $json.telefono }}",
          "contextWindowLength": 20
        },
        "id": "node-mem",
        "name": "Simple Memory",
        "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
        "typeVersion": 1.3,
        "position": [
          800,
          720
        ]
      },
      {
        "parameters": {
          "description": "Muestra las categorias de productos disponibles en la tienda. No requiere parametros.",
          "workflowId": {
            "__rl": true,
            "value": "xWb27wiSzpj9d4sx",
            "mode": "id"
          }
        },
        "id": "node-t01",
        "name": "ver_categorias",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1008,
          720
        ]
      },
      {
        "parameters": {
          "description": "Muestra los productos de una categoria. Requiere: categoria (string, nombre de la categoria elegida).",
          "workflowId": {
            "__rl": true,
            "value": "EOdJH8nzrVsRfHLz",
            "mode": "id"
          }
        },
        "id": "node-t02",
        "name": "ver_productos",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1200,
          720
        ]
      },
      {
        "parameters": {
          "description": "Envia la imagen de un producto al cliente por WhatsApp. Requiere: imagen_url (URL de la imagen), caption (descripcion del producto con precio).",
          "workflowId": {
            "__rl": true,
            "value": "3IBfRGsHm51g1rGk",
            "mode": "id"
          }
        },
        "id": "node-t03",
        "name": "enviar_imagen",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1408,
          720
        ]
      },
      {
        "parameters": {
          "description": "Calcula el costo de envio. Requiere: precio_producto (numero en pesos), provincia (string, provincia argentina del cliente).",
          "workflowId": {
            "__rl": true,
            "value": "B5EmFwWaue0IiNuS",
            "mode": "id"
          }
        },
        "id": "node-t04",
        "name": "calcular_envio",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1600,
          720
        ]
      },
      {
        "parameters": {
          "description": "Registra el pedido cuando el cliente envia el comprobante de pago (tiene_imagen=true). Requiere: nombre, ciudad, provincia, producto, categoria, precio_producto (numero), costo_envio (numero), total (numero).",
          "workflowId": {
            "__rl": true,
            "value": "VBlLIxvJizzgnK9q",
            "mode": "id"
          }
        },
        "id": "node-t05",
        "name": "registrar_pedido",
        "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
        "typeVersion": 2.2,
        "position": [
          1808,
          720
        ]
      },
      {
        "parameters": {
          "jsCode": "const items = $input.all();\nconst output = (items[0] && items[0].json && items[0].json.output) ? items[0].json.output : (items[0] && items[0].json && items[0].json.text) ? items[0].json.text : '';\nconst telefono = $('Extraer Datos').first().json.telefono;\nif (!output) return [{ json: { mensaje: '...', telefono } }];\n\nconst maxLen = 1500;\nconst chunks = [];\nif (output.length <= maxLen) {\n  chunks.push(output);\n} else {\n  const parts = output.split('\\n\\n');\n  let current = '';\n  for (const part of parts) {\n    if ((current + '\\n\\n' + part).length > maxLen && current) {\n      chunks.push(current.trim());\n      current = part;\n    } else {\n      current = current ? current + '\\n\\n' + part : part;\n    }\n  }\n  if (current) chunks.push(current.trim());\n}\n\nreturn chunks.map(chunk => ({ json: { mensaje: chunk, telefono } }));"
        },
        "id": "node-dvd",
        "name": "Dividir Respuesta",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1168,
          480
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://sytem-ia-pruebas-evolution-api.6g0gdj.easypanel.host/message/sendText/System%20IA%20Demo",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"number\": \"{{ $json.telefono }}\",\n  \"text\": \"{{ $json.mensaje }}\"\n}",
          "options": {}
        },
        "id": "node-ewp",
        "name": "Enviar WhatsApp",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1424,
          480
        ],
        "credentials": {
          "httpHeaderAuth": {
            "id": "S4QSQlXLKNyAfGtu",
            "name": "Header Auth Evolution Api"
          }
        }
      }
    ],
    "connections": {
      "Webhook Evolution": {
        "main": [
          [
            {
              "node": "Filtro: Mensaje válido",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filtro: Mensaje válido": {
        "main": [
          [
            {
              "node": "Extraer Datos",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extraer Datos": {
        "main": [
          [
            {
              "node": "¿Es dueño + pago confirmado?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Es dueño + pago confirmado?": {
        "main": [
          [
            {
              "node": "Leer Pedidos Pendientes",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "AI Agent Tienda",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Leer Pedidos Pendientes": {
        "main": [
          [
            {
              "node": "Obtener Ultimo Pendiente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Obtener Ultimo Pendiente": {
        "main": [
          [
            {
              "node": "¿Hay pedido pendiente?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "¿Hay pedido pendiente?": {
        "main": [
          [
            {
              "node": "Enviar Confirmacion al Cliente",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Enviar Confirmacion al Cliente": {
        "main": [
          [
            {
              "node": "Actualizar Estado Pedido",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Agent Tienda": {
        "main": [
          [
            {
              "node": "Dividir Respuesta",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Dividir Respuesta": {
        "main": [
          [
            {
              "node": "Enviar WhatsApp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "OpenAI Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent Tienda",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      },
      "Simple Memory": {
        "ai_memory": [
          [
            {
              "node": "AI Agent Tienda",
              "type": "ai_memory",
              "index": 0
            }
          ]
        ]
      },
      "ver_categorias": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Tienda",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "ver_productos": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Tienda",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "enviar_imagen": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Tienda",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "calcular_envio": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Tienda",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      },
      "registrar_pedido": {
        "ai_tool": [
          [
            {
              "node": "AI Agent Tienda",
              "type": "ai_tool",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Micaela Colmenares",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2026-02-27T19:58:28.073Z",
      "createdAt": "2026-02-27T19:58:28.073Z",
      "id": "Ttv2U1PGT69vmrbF",
      "name": "Tiendas"
    },
    {
      "updatedAt": "2026-02-27T13:26:22.913Z",
      "createdAt": "2026-02-27T13:26:22.913Z",
      "id": "dveKcFU9yNCIwJvk",
      "name": "DEMO"
    },
    {
      "updatedAt": "2026-02-26T23:58:08.513Z",
      "createdAt": "2026-02-26T23:58:08.513Z",
      "id": "h6NCtzLto5r41s9Q",
      "name": "WHATSAPP"
    }
  ]
}