📱-system-ia-(mica)-—-publicación-diaria-redes-sociales-(ig-+-fb)-sin-tag.json
{
  "updatedAt": "2026-04-07T12:28:41.481Z",
  "createdAt": "2026-04-07T12:28:41.481Z",
  "id": "aOiZFbmvMoPSE0vB",
  "name": "📱 System IA (Mica) — Publicación Diaria Redes Sociales (IG + FB)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "id": "node-schedule-mica",
      "name": "⏰ Schedule 9am ARG",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        240,
        304
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12 * * 1-6"
            }
          ]
        }
      }
    },
    {
      "id": "node-airtable-mica",
      "name": "📋 Obtener Brandbook Mica",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        464,
        304
      ],
      "parameters": {
        "url": "https://api.airtable.com/v0/appejn9ep8JMLJmPG/tblgFvYebZcJaYM07?maxRecords=1",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer patL8VOuELCGbJGlSAnXhDDXwaMBevH8RMLTLfMcbDkXXoK2hAjf3aFIq7d8XY1n"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-publicar-mica",
      "name": "🚀 Publicar en Redes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        688,
        304
      ],
      "parameters": {
        "method": "POST",
        "url": "https://agentes.arnaldoayalaestratega.cloud/social/publicar-completo",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"cliente_id\": \"{{ $json.records[0].fields['ID Cliente'] }}\",\n  \"datos_marca\": {{ JSON.stringify($json.records[0].fields) }}\n}",
        "options": {
          "timeout": 120000
        }
      }
    }
  ],
  "connections": {
    "⏰ Schedule 9am ARG": {
      "main": [
        [
          {
            "node": "📋 Obtener Brandbook Mica",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Obtener Brandbook Mica": {
      "main": [
        [
          {
            "node": "🚀 Publicar en Redes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Argentina/Buenos_Aires",
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:⏰ Schedule 9am ARG": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": null,
  "versionId": "db94cfbb-5ecf-4b52-bb29-b888aa7ffe1c",
  "activeVersionId": "db94cfbb-5ecf-4b52-bb29-b888aa7ffe1c",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-04-07T12:28:41.488Z",
      "createdAt": "2026-04-07T12:28:41.488Z",
      "role": "workflow:owner",
      "workflowId": "aOiZFbmvMoPSE0vB",
      "projectId": "YfmAb61LMhjH6jFL"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-04-07T12:28:41.493Z",
    "createdAt": "2026-04-07T12:28:41.493Z",
    "versionId": "db94cfbb-5ecf-4b52-bb29-b888aa7ffe1c",
    "workflowId": "aOiZFbmvMoPSE0vB",
    "nodes": [
      {
        "id": "node-schedule-mica",
        "name": "⏰ Schedule 9am ARG",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.2,
        "position": [
          240,
          304
        ],
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 12 * * 1-6"
              }
            ]
          }
        }
      },
      {
        "id": "node-airtable-mica",
        "name": "📋 Obtener Brandbook Mica",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          464,
          304
        ],
        "parameters": {
          "url": "https://api.airtable.com/v0/appejn9ep8JMLJmPG/tblgFvYebZcJaYM07?maxRecords=1",
          "authentication": "genericCredentialType",
          "genericAuthType": "httpHeaderAuth",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "Bearer patL8VOuELCGbJGlSAnXhDDXwaMBevH8RMLTLfMcbDkXXoK2hAjf3aFIq7d8XY1n"
              }
            ]
          },
          "options": {}
        }
      },
      {
        "id": "node-publicar-mica",
        "name": "🚀 Publicar en Redes",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          688,
          304
        ],
        "parameters": {
          "method": "POST",
          "url": "https://agentes.arnaldoayalaestratega.cloud/social/publicar-completo",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"cliente_id\": \"{{ $json.records[0].fields['ID Cliente'] }}\",\n  \"datos_marca\": {{ JSON.stringify($json.records[0].fields) }}\n}",
          "options": {
            "timeout": 120000
          }
        }
      }
    ],
    "connections": {
      "⏰ Schedule 9am ARG": {
        "main": [
          [
            {
              "node": "📋 Obtener Brandbook Mica",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "📋 Obtener Brandbook Mica": {
        "main": [
          [
            {
              "node": "🚀 Publicar en Redes",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Micaela Colmenares",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "id": "sin-tag",
      "name": "sin-tag"
    }
  ]
}