🖼️-publicar-carrusel---todos-los-clientes-sin-tag.json
{
  "updatedAt": "2026-03-02T10:44:33.073Z",
  "createdAt": "2026-03-02T10:44:33.073Z",
  "id": "dA653hhMuOeSTfZL",
  "name": "🖼️ Publicar Carrusel - Todos los Clientes",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Ejecutar manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11 * * 1-6"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Trigger Lun-Sáb 11am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        480
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appejn9ep8JMLJmPG",
          "mode": "list",
          "cachedResultName": "Clientes (Brand Books AI)"
        },
        "table": {
          "__rl": true,
          "value": "tblgFvYebZcJaYM07",
          "mode": "list",
          "cachedResultName": "Branding-Marca"
        },
        "options": {
          "fields": []
        }
      },
      "id": "airtable-todos",
      "name": "Traer Todos los Clientes (Airtable)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        528,
        384
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "3amPYJ6MWYf0VZtD",
          "name": "Airtable Personal Access BRANDING-MARCA"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sytem-ia-pruebas-agente.6g0gdj.easypanel.host/social/publicar-carrusel",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { 'datos_marca': $json } }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "publicar-carrusel",
      "name": "Publicar Carrusel (Easypanel)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        384
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    }
  ],
  "connections": {
    "Ejecutar manualmente": {
      "main": [
        [
          {
            "node": "Traer Todos los Clientes (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Lun-Sáb 11am": {
      "main": [
        [
          {
            "node": "Traer Todos los Clientes (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traer Todos los Clientes (Airtable)": {
      "main": [
        [
          {
            "node": "Publicar Carrusel (Easypanel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": null,
  "pinData": null,
  "versionId": "1128b310-a703-40c9-a3b1-3734464b77ee",
  "activeVersionId": null,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-03-02T10:44:33.076Z",
      "createdAt": "2026-03-02T10:44:33.076Z",
      "role": "workflow:owner",
      "workflowId": "dA653hhMuOeSTfZL",
      "projectId": "YfmAb61LMhjH6jFL"
    }
  ],
  "activeVersion": null,
  "tags": [
    {
      "id": "sin-tag",
      "name": "sin-tag"
    }
  ]
}