🖼️-publicar-carrusel---todos-los-clientes-REDES SOCIALES.json
{
  "updatedAt": "2026-02-24T19:18:49.087Z",
  "createdAt": "2026-02-24T15:35:13.667Z",
  "id": "9pjqGdct3BUKf7g5",
  "name": "🖼️ Publicar Carrusel - Todos los Clientes",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "manual-trigger",
      "name": "Ejecutar manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        240,
        304
      ]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 11 * * 1-6"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Trigger Lun-Sáb 11am",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        240,
        480
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appejn9ep8JMLJmPG",
          "mode": "list",
          "cachedResultName": "Clientes (Brand Books AI)"
        },
        "table": {
          "__rl": true,
          "value": "tblgFvYebZcJaYM07",
          "mode": "list",
          "cachedResultName": "Branding-Marca"
        },
        "options": {
          "fields": []
        }
      },
      "id": "airtable-todos",
      "name": "Traer Todos los Clientes (Airtable)",
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        528,
        384
      ],
      "credentials": {
        "airtableTokenApi": {
          "id": "3amPYJ6MWYf0VZtD",
          "name": "Airtable Personal Access BRANDING-MARCA"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sytem-ia-pruebas-agente.6g0gdj.easypanel.host/social/publicar-carrusel",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { 'datos_marca': $json } }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "publicar-carrusel",
      "name": "Publicar Carrusel (Easypanel)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        800,
        384
      ],
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 5000
    }
  ],
  "connections": {
    "Ejecutar manualmente": {
      "main": [
        [
          {
            "node": "Traer Todos los Clientes (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Lun-Sáb 11am": {
      "main": [
        [
          {
            "node": "Traer Todos los Clientes (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traer Todos los Clientes (Airtable)": {
      "main": [
        [
          {
            "node": "Publicar Carrusel (Easypanel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Trigger Lun-Sáb 11am": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "18fed327-25e8-44cd-9859-d554c2eff4f2",
  "activeVersionId": "3e5c1727-cc07-4ae4-ba8f-e2944f36ab95",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-24T15:35:13.667Z",
      "createdAt": "2026-02-24T15:35:13.667Z",
      "role": "workflow:owner",
      "workflowId": "9pjqGdct3BUKf7g5",
      "projectId": "A5erh6pqAqSjR28k"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-24T16:32:55.626Z",
    "createdAt": "2026-02-24T16:32:55.626Z",
    "versionId": "3e5c1727-cc07-4ae4-ba8f-e2944f36ab95",
    "workflowId": "9pjqGdct3BUKf7g5",
    "nodes": [
      {
        "parameters": {},
        "id": "manual-trigger",
        "name": "Ejecutar manualmente",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          240,
          304
        ]
      },
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 11 * * 1-6"
              }
            ]
          }
        },
        "id": "schedule-trigger",
        "name": "Trigger Lun-Sáb 11am",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          240,
          480
        ]
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appejn9ep8JMLJmPG",
            "mode": "list",
            "cachedResultName": "Clientes (Brand Books AI)"
          },
          "table": {
            "__rl": true,
            "value": "tblgFvYebZcJaYM07",
            "mode": "list",
            "cachedResultName": "Branding-Marca"
          },
          "options": {
            "fields": [],
            "sort": [],
            "filterByFormula": "NOT({IG Business Account ID} = '')"
          }
        },
        "id": "airtable-todos",
        "name": "Traer Todos los Clientes (Airtable)",
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          528,
          384
        ],
        "credentials": {
          "airtableTokenApi": {
            "id": "3amPYJ6MWYf0VZtD",
            "name": "Airtable Personal Access BRANDING-MARCA"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://sytem-ia-pruebas-agente.6g0gdj.easypanel.host/social/publicar-carrusel",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { 'datos_marca': $json } }}",
          "options": {
            "timeout": 600000
          }
        },
        "id": "publicar-carrusel",
        "name": "Publicar Carrusel (Easypanel)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.4,
        "position": [
          800,
          384
        ],
        "retryOnFail": true,
        "maxTries": 2,
        "waitBetweenTries": 5000
      }
    ],
    "connections": {
      "Ejecutar manualmente": {
        "main": [
          [
            {
              "node": "Traer Todos los Clientes (Airtable)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger Lun-Sáb 11am": {
        "main": [
          [
            {
              "node": "Traer Todos los Clientes (Airtable)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Traer Todos los Clientes (Airtable)": {
        "main": [
          [
            {
              "node": "Publicar Carrusel (Easypanel)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Micaela Colmenares",
    "name": null,
    "description": null,
    "autosaved": false
  },
  "tags": [
    {
      "updatedAt": "2026-02-11T14:07:49.525Z",
      "createdAt": "2026-02-11T14:07:49.525Z",
      "id": "zAFB8YtBNH3F83PJ",
      "name": "REDES SOCIALES"
    }
  ]
}