🚀-automatizar-redes-sociales-(arnaldo)-REDES SOCIALES.json
{
  "updatedAt": "2026-03-05T12:07:29.414Z",
  "createdAt": "2026-03-02T10:44:36.266Z",
  "id": "7hwWuqVD1bA5habN",
  "name": "🚀 Automatizar Redes Sociales (Arnaldo)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "node-trigger",
      "name": "Trigger Programado",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1536,
        688
      ]
    },
    {
      "parameters": {},
      "id": "node-manual",
      "name": "Ejecutar manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1536,
        480
      ]
    },
    {
      "parameters": {
        "content": "## 🤖 Flujo Agéntico (Nivel Enterprise)\\n\\nArriba estamos construyendo el futuro.\\n1. **Airtable:** Trae todas las reglas de tu marca (Tono, Colores, Público).\\n2. **Agente Generador (Easypanel):** Este único nodo va a reemplazar a los 30 nodos de abajo. Se encargará de pensar la estrategia, redactarla y postearla.\\n\\n*Nota: Aún no lo conectamos al Trigger para no romper el flujo de abajo mientras hacemos pruebas.*",
        "height": 586,
        "width": 400,
        "color": 4
      },
      "id": "sticky-agentico",
      "name": "Sticky Note Agentico",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://system-ia-agentes.onrender.com/social/publicar-completo",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{  { \"cliente_id\": $json[\"ID Cliente\"], \"datos_marca\": $json } }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "publicar-completo",
      "name": "Publicar en Redes (Easypanel)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2096,
        480
      ],
      "maxTries": 3,
      "retryOnFail": true,
      "waitBetweenTries": 5000
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appOUtGnMYHrbLaMa",
          "mode": "list",
          "cachedResultName": "WORKSPACE Arnaldo Ayala",
          "cachedResultUrl": "https://airtable.com/appOUtGnMYHrbLaMa"
        },
        "table": {
          "__rl": true,
          "value": "tblgFvYebZcJaYM07",
          "mode": "list",
          "cachedResultName": "Branding-Marca",
          "cachedResultUrl": "https://airtable.com/appOUtGnMYHrbLaMa/tblgFvYebZcJaYM07"
        },
        "filterByFormula": "{ID Cliente} = 'Arnaldo_Ayala'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1808,
        480
      ],
      "id": "ffe526a1-571b-4656-9b0c-a24204f6617a",
      "name": "Traer Brand Book (Airtable-Arnaldo)",
      "credentials": {
        "airtableTokenApi": {
          "id": "Cmjj6v8g6OqJtYFt",
          "name": "Airtable Personal Access Token account"
        }
      }
    }
  ],
  "connections": {
    "Ejecutar manualmente": {
      "main": [
        [
          {
            "node": "Traer Brand Book (Airtable-Arnaldo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Programado": {
      "main": [
        [
          {
            "node": "Traer Brand Book (Airtable-Arnaldo)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traer Brand Book (Airtable-Arnaldo)": {
      "main": [
        [
          {
            "node": "Publicar en Redes (Easypanel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Trigger Programado": {
      "recurrenceRules": []
    }
  },
  "meta": null,
  "pinData": {},
  "versionId": "bf784aa5-a464-4d33-b347-95983e49560c",
  "activeVersionId": "bf784aa5-a464-4d33-b347-95983e49560c",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-02T10:44:36.267Z",
      "createdAt": "2026-03-02T10:44:36.267Z",
      "role": "workflow:owner",
      "workflowId": "7hwWuqVD1bA5habN",
      "projectId": "YfmAb61LMhjH6jFL"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-05T12:07:31.000Z",
    "createdAt": "2026-03-05T12:07:29.414Z",
    "versionId": "bf784aa5-a464-4d33-b347-95983e49560c",
    "workflowId": "7hwWuqVD1bA5habN",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 9
              }
            ]
          }
        },
        "id": "node-trigger",
        "name": "Trigger Programado",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          1536,
          688
        ]
      },
      {
        "parameters": {},
        "id": "node-manual",
        "name": "Ejecutar manualmente",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          1536,
          480
        ]
      },
      {
        "parameters": {
          "content": "## 🤖 Flujo Agéntico (Nivel Enterprise)\\n\\nArriba estamos construyendo el futuro.\\n1. **Airtable:** Trae todas las reglas de tu marca (Tono, Colores, Público).\\n2. **Agente Generador (Easypanel):** Este único nodo va a reemplazar a los 30 nodos de abajo. Se encargará de pensar la estrategia, redactarla y postearla.\\n\\n*Nota: Aún no lo conectamos al Trigger para no romper el flujo de abajo mientras hacemos pruebas.*",
          "height": 586,
          "width": 400,
          "color": 4
        },
        "id": "sticky-agentico",
        "name": "Sticky Note Agentico",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1072,
          336
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://system-ia-agentes.onrender.com/social/publicar-completo",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{  { \"cliente_id\": $json[\"ID Cliente\"], \"datos_marca\": $json } }}",
          "options": {
            "timeout": 300000
          }
        },
        "id": "publicar-completo",
        "name": "Publicar en Redes (Easypanel)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          2096,
          480
        ],
        "maxTries": 3,
        "retryOnFail": true,
        "waitBetweenTries": 5000
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appOUtGnMYHrbLaMa",
            "mode": "list",
            "cachedResultName": "WORKSPACE Arnaldo Ayala",
            "cachedResultUrl": "https://airtable.com/appOUtGnMYHrbLaMa"
          },
          "table": {
            "__rl": true,
            "value": "tblgFvYebZcJaYM07",
            "mode": "list",
            "cachedResultName": "Branding-Marca",
            "cachedResultUrl": "https://airtable.com/appOUtGnMYHrbLaMa/tblgFvYebZcJaYM07"
          },
          "filterByFormula": "{ID Cliente} = 'Arnaldo_Ayala'",
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1808,
          480
        ],
        "id": "ffe526a1-571b-4656-9b0c-a24204f6617a",
        "name": "Traer Brand Book (Airtable-Arnaldo)",
        "credentials": {
          "airtableTokenApi": {
            "id": "Cmjj6v8g6OqJtYFt",
            "name": "Airtable Personal Access Token account"
          }
        }
      }
    ],
    "connections": {
      "Ejecutar manualmente": {
        "main": [
          [
            {
              "node": "Traer Brand Book (Airtable-Arnaldo)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger Programado": {
        "main": [
          [
            {
              "node": "Traer Brand Book (Airtable-Arnaldo)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Traer Brand Book (Airtable-Arnaldo)": {
        "main": [
          [
            {
              "node": "Publicar en Redes (Easypanel)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Micaela Colmenares",
    "name": "Version bf784aa5",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "updatedAt": "2026-03-05T11:56:54.972Z",
      "createdAt": "2026-03-05T11:56:54.972Z",
      "id": "YCoC2x6GhWxIcfPX",
      "name": "REDES SOCIALES"
    },
    {
      "updatedAt": "2026-03-05T11:54:40.980Z",
      "createdAt": "2026-03-05T11:54:40.980Z",
      "id": "td0ukFu86o1lgKq7",
      "name": "PRODUCCION"
    }
  ]
}