🚀-automatizar-redes-sociales---social-systemia-sin-tag.json
{
  "updatedAt": "2026-03-04T21:13:31.804Z",
  "createdAt": "2026-03-02T10:44:42.828Z",
  "id": "ELlGPbGeK9e5lN4l",
  "name": "🚀 Automatizar Redes Sociales - social-systemia",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "id": "104c7230-90c9-44fd-8c37-5a7ef8e3de0c",
      "name": "Trigger Programado",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1552,
        704
      ]
    },
    {
      "parameters": {},
      "id": "477c840b-7f66-46d7-9fc0-fec3c7dc57f3",
      "name": "Ejecutar manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1536,
        480
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appejn9ep8JMLJmPG",
          "mode": "list",
          "cachedResultName": "WORKSPACE SYSTEM IA",
          "cachedResultUrl": "https://airtable.com/appejn9ep8JMLJmPG"
        },
        "table": {
          "__rl": true,
          "value": "tblgFvYebZcJaYM07",
          "mode": "list",
          "cachedResultName": "Branding-Marca",
          "cachedResultUrl": "https://airtable.com/appejn9ep8JMLJmPG/tblgFvYebZcJaYM07"
        },
        "filterByFormula": "{ID Cliente} = 'SystemIA'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1808,
        480
      ],
      "id": "d50403b4-004f-45d4-80db-c510358f7e8b",
      "name": "Traer Brand Book (Airtable)",
      "credentials": {
        "airtableTokenApi": {
          "id": "Cmjj6v8g6OqJtYFt",
          "name": "Airtable Personal Access Token account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🤖 Flujo Agéntico (Nivel Enterprise)\\n\\nArriba estamos construyendo el futuro.\\n1. **Airtable:** Trae todas las reglas de tu marca (Tono, Colores, Público).\\n2. **Agente Generador (Easypanel):** Este único nodo va a reemplazar a los 30 nodos de abajo. Se encargará de pensar la estrategia, redactarla y postearla.\\n\\n*Nota: Aún no lo conectamos al Trigger para no romper el flujo de abajo mientras hacemos pruebas.*",
        "height": 586,
        "width": 400,
        "color": 4
      },
      "id": "d980172d-f3bd-48d6-a0f6-b0a45fb20743",
      "name": "Sticky Note Agentico",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://system-ia-agentes.onrender.com/social/publicar-completo",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { \"cliente_id\": $json[\"ID Cliente\"], \"datos_marca\": $json } }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "ad2f99ca-c204-47fc-b9e8-a465ba5414c9",
      "name": "Publicar en Redes (Easypanel)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2096,
        480
      ],
      "maxTries": 3,
      "retryOnFail": true,
      "waitBetweenTries": 5000
    }
  ],
  "connections": {
    "Ejecutar manualmente": {
      "main": [
        [
          {
            "node": "Traer Brand Book (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Programado": {
      "main": [
        [
          {
            "node": "Traer Brand Book (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traer Brand Book (Airtable)": {
      "main": [
        [
          {
            "node": "Publicar en Redes (Easypanel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": {
    "node:Trigger Programado": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "66df4668-0697-4a59-80f1-54d7b8fec8f4",
  "activeVersionId": "66df4668-0697-4a59-80f1-54d7b8fec8f4",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-03-02T10:44:42.833Z",
      "createdAt": "2026-03-02T10:44:42.833Z",
      "role": "workflow:owner",
      "workflowId": "ELlGPbGeK9e5lN4l",
      "projectId": "YfmAb61LMhjH6jFL"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-03-04T21:23:05.000Z",
    "createdAt": "2026-03-04T21:13:31.804Z",
    "versionId": "66df4668-0697-4a59-80f1-54d7b8fec8f4",
    "workflowId": "ELlGPbGeK9e5lN4l",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 10
              }
            ]
          }
        },
        "id": "104c7230-90c9-44fd-8c37-5a7ef8e3de0c",
        "name": "Trigger Programado",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          1552,
          704
        ]
      },
      {
        "parameters": {},
        "id": "477c840b-7f66-46d7-9fc0-fec3c7dc57f3",
        "name": "Ejecutar manualmente",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          1536,
          480
        ]
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appejn9ep8JMLJmPG",
            "mode": "list",
            "cachedResultName": "WORKSPACE SYSTEM IA",
            "cachedResultUrl": "https://airtable.com/appejn9ep8JMLJmPG"
          },
          "table": {
            "__rl": true,
            "value": "tblgFvYebZcJaYM07",
            "mode": "list",
            "cachedResultName": "Branding-Marca",
            "cachedResultUrl": "https://airtable.com/appejn9ep8JMLJmPG/tblgFvYebZcJaYM07"
          },
          "filterByFormula": "{ID Cliente} = 'SystemIA'",
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1808,
          480
        ],
        "id": "d50403b4-004f-45d4-80db-c510358f7e8b",
        "name": "Traer Brand Book (Airtable)",
        "credentials": {
          "airtableTokenApi": {
            "id": "Cmjj6v8g6OqJtYFt",
            "name": "Airtable Personal Access Token account"
          }
        }
      },
      {
        "parameters": {
          "content": "## 🤖 Flujo Agéntico (Nivel Enterprise)\\n\\nArriba estamos construyendo el futuro.\\n1. **Airtable:** Trae todas las reglas de tu marca (Tono, Colores, Público).\\n2. **Agente Generador (Easypanel):** Este único nodo va a reemplazar a los 30 nodos de abajo. Se encargará de pensar la estrategia, redactarla y postearla.\\n\\n*Nota: Aún no lo conectamos al Trigger para no romper el flujo de abajo mientras hacemos pruebas.*",
          "height": 586,
          "width": 400,
          "color": 4
        },
        "id": "d980172d-f3bd-48d6-a0f6-b0a45fb20743",
        "name": "Sticky Note Agentico",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1072,
          336
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://system-ia-agentes.onrender.com/social/publicar-completo",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { \"cliente_id\": $json[\"ID Cliente\"], \"datos_marca\": $json } }}",
          "options": {
            "timeout": 300000
          }
        },
        "id": "ad2f99ca-c204-47fc-b9e8-a465ba5414c9",
        "name": "Publicar en Redes (Easypanel)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          2096,
          480
        ],
        "maxTries": 3,
        "retryOnFail": true,
        "waitBetweenTries": 5000
      }
    ],
    "connections": {
      "Ejecutar manualmente": {
        "main": [
          [
            {
              "node": "Traer Brand Book (Airtable)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger Programado": {
        "main": [
          [
            {
              "node": "Traer Brand Book (Airtable)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Traer Brand Book (Airtable)": {
        "main": [
          [
            {
              "node": "Publicar en Redes (Easypanel)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Micaela Colmenares",
    "name": "Version 66df4668",
    "description": "",
    "autosaved": true
  },
  "tags": [
    {
      "id": "sin-tag",
      "name": "sin-tag"
    }
  ]
}