🚀-automatizar-redes-sociales-(arnaldo)-.json
{
  "updatedAt": "2026-02-24T02:39:04.794Z",
  "createdAt": "2026-02-20T13:53:43.277Z",
  "id": "T9JAp3MxztvfkD5x",
  "name": "🚀 Automatizar Redes Sociales (Arnaldo)",
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "node-trigger",
      "name": "Trigger Programado",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        1552,
        704
      ]
    },
    {
      "parameters": {},
      "id": "node-manual",
      "name": "Ejecutar manualmente",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1536,
        480
      ]
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appejn9ep8JMLJmPG",
          "mode": "list",
          "cachedResultName": "Clientes (Brand Books AI)",
          "cachedResultUrl": "https://airtable.com/appejn9ep8JMLJmPG"
        },
        "table": {
          "__rl": true,
          "value": "tblgFvYebZcJaYM07",
          "mode": "list",
          "cachedResultName": "Branding-Marca",
          "cachedResultUrl": "https://airtable.com/appejn9ep8JMLJmPG/tblgFvYebZcJaYM07"
        },
        "filterByFormula": "{ID Cliente} = 'Arnaldo_Ayala'",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1808,
        480
      ],
      "id": "ffe526a1-571b-4656-9b0c-a24204f6617a",
      "name": "Traer Brand Book (Airtable)",
      "credentials": {
        "airtableTokenApi": {
          "id": "3amPYJ6MWYf0VZtD",
          "name": "Airtable Personal Access BRANDING-MARCA"
        }
      }
    },
    {
      "parameters": {
        "content": "## 🤖 Flujo Agéntico (Nivel Enterprise)\\n\\nArriba estamos construyendo el futuro.\\n1. **Airtable:** Trae todas las reglas de tu marca (Tono, Colores, Público).\\n2. **Agente Generador (Easypanel):** Este único nodo va a reemplazar a los 30 nodos de abajo. Se encargará de pensar la estrategia, redactarla y postearla.\\n\\n*Nota: Aún no lo conectamos al Trigger para no romper el flujo de abajo mientras hacemos pruebas.*",
        "height": 586,
        "width": 400,
        "color": 4
      },
      "id": "sticky-agentico",
      "name": "Sticky Note Agentico",
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1072,
        336
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://sytem-ia-pruebas-agente.6g0gdj.easypanel.host/social/publicar-completo",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ { 'datos_marca': $json } }}",
        "options": {
          "timeout": 300000
        }
      },
      "id": "publicar-completo",
      "name": "Publicar en Redes (Easypanel)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [
        2096,
        480
      ],
      "maxTries": 3,
      "retryOnFail": true,
      "waitBetweenTries": 5000
    }
  ],
  "connections": {
    "Ejecutar manualmente": {
      "main": [
        [
          {
            "node": "Traer Brand Book (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Trigger Programado": {
      "main": [
        [
          {
            "node": "Traer Brand Book (Airtable)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Traer Brand Book (Airtable)": {
      "main": [
        [
          {
            "node": "Publicar en Redes (Easypanel)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false,
    "saveManualExecutions": true,
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "callerPolicy": "workflowsFromSameOwner"
  },
  "staticData": {
    "node:Trigger Programado": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "f13e95d0-dd33-4150-ad1b-0a4f81683063",
  "activeVersionId": "f13e95d0-dd33-4150-ad1b-0a4f81683063",
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-02-20T13:53:43.277Z",
      "createdAt": "2026-02-20T13:53:43.277Z",
      "role": "workflow:owner",
      "workflowId": "T9JAp3MxztvfkD5x",
      "projectId": "A5erh6pqAqSjR28k"
    }
  ],
  "activeVersion": {
    "updatedAt": "2026-02-24T02:50:07.426Z",
    "createdAt": "2026-02-24T02:39:04.797Z",
    "versionId": "f13e95d0-dd33-4150-ad1b-0a4f81683063",
    "workflowId": "T9JAp3MxztvfkD5x",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "triggerAtHour": 9
              }
            ]
          }
        },
        "id": "node-trigger",
        "name": "Trigger Programado",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          1552,
          704
        ]
      },
      {
        "parameters": {},
        "id": "node-manual",
        "name": "Ejecutar manualmente",
        "type": "n8n-nodes-base.manualTrigger",
        "typeVersion": 1,
        "position": [
          1536,
          480
        ]
      },
      {
        "parameters": {
          "operation": "search",
          "base": {
            "__rl": true,
            "value": "appejn9ep8JMLJmPG",
            "mode": "list",
            "cachedResultName": "Clientes (Brand Books AI)",
            "cachedResultUrl": "https://airtable.com/appejn9ep8JMLJmPG"
          },
          "table": {
            "__rl": true,
            "value": "tblgFvYebZcJaYM07",
            "mode": "list",
            "cachedResultName": "Branding-Marca",
            "cachedResultUrl": "https://airtable.com/appejn9ep8JMLJmPG/tblgFvYebZcJaYM07"
          },
          "filterByFormula": "{ID Cliente} = 'Arnaldo_Ayala'",
          "options": {}
        },
        "type": "n8n-nodes-base.airtable",
        "typeVersion": 2.1,
        "position": [
          1808,
          480
        ],
        "id": "ffe526a1-571b-4656-9b0c-a24204f6617a",
        "name": "Traer Brand Book (Airtable)",
        "credentials": {
          "airtableTokenApi": {
            "id": "3amPYJ6MWYf0VZtD",
            "name": "Airtable Personal Access BRANDING-MARCA"
          }
        }
      },
      {
        "parameters": {
          "content": "## 🤖 Flujo Agéntico (Nivel Enterprise)\\n\\nArriba estamos construyendo el futuro.\\n1. **Airtable:** Trae todas las reglas de tu marca (Tono, Colores, Público).\\n2. **Agente Generador (Easypanel):** Este único nodo va a reemplazar a los 30 nodos de abajo. Se encargará de pensar la estrategia, redactarla y postearla.\\n\\n*Nota: Aún no lo conectamos al Trigger para no romper el flujo de abajo mientras hacemos pruebas.*",
          "height": 586,
          "width": 400,
          "color": 4
        },
        "id": "sticky-agentico",
        "name": "Sticky Note Agentico",
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          1072,
          336
        ]
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://sytem-ia-pruebas-agente.6g0gdj.easypanel.host/social/publicar-completo",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ { 'datos_marca': $json } }}",
          "options": {
            "timeout": 300000
          }
        },
        "id": "publicar-completo",
        "name": "Publicar en Redes (Easypanel)",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.1,
        "position": [
          2096,
          480
        ],
        "maxTries": 3,
        "retryOnFail": true,
        "waitBetweenTries": 5000
      }
    ],
    "connections": {
      "Ejecutar manualmente": {
        "main": [
          [
            {
              "node": "Traer Brand Book (Airtable)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Trigger Programado": {
        "main": [
          [
            {
              "node": "Traer Brand Book (Airtable)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Traer Brand Book (Airtable)": {
        "main": [
          [
            {
              "node": "Publicar en Redes (Easypanel)",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Micaela Colmenares",
    "name": "Version f13e95d0",
    "description": "",
    "autosaved": true
  },
  "tags": []
}